In [1]:
import pandas as pd
import numpy as np
from konlpy.tag import Mecab

In [75]:
df = pd.read_excel('./datasets/0620/전체데이터(뉴스 제목 + 내용).xlsx')

In [76]:
df.head()

,일자,제목,nouns,주식일자,종가,금종가,유가종가,target,article_text
0,2022-01-02,"우리카드 ""1위 대한항공도 잡았다""...파죽의 6연승",우리카드 대한항공 파죽 연승,2022-01-03,29500,70090,76.08,0,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...
1,2022-01-02,"우리카드 ""1위 대한항공도 잡았다""...파죽의 6연승",우리카드 대한항공 파죽 연승,2022-01-03,29500,70090,76.08,0,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...
2,2022-01-02,"공중전 압도 우리카드, 선두 대한항공 날개 꺾고 6연승",공중전 압도 우리카드 선두 대한항공 날개 연승,2022-01-03,29500,70090,76.08,0,알렉스 23득점 맹폭…3 대 0 셧아웃 최하위서 반등…봄 배구 희망 키워\n\n남자...
3,2022-01-02,선두 대한항공까지 잡았다 우리카드 6연승,선두 대한항공 우리카드 연승,2022-01-03,29500,70090,76.08,0,프로배구 우리카드의 상승세가 무섭습니다.\n\n\n\n선두 대한항공마저 잡고 6연승...
4,2022-01-02,우리카드의 반전카드 꼴찌에서 6연승 신바람,우리카드 반전 카드 꼴찌 연승 신바람,2022-01-03,29500,70090,76.08,0,우리카드의 반전카드…꼴찌에서 6연승 신바람 뉴스 9 입력 2022.01.02 (21...

In [77]:
# df[df["nouns"].str.contains("http")]

In [78]:
# import re

# article = str(df["article_text"])

# # 정규식 패턴을 활용하여 특수 문자와 구두점 제거
# df["article_text"] = re.sub(r'[^\w\s]', '', article)

In [79]:
# df.to_csv("./sample.csv",encoding='utf-8-sig')

In [80]:
max(df["종가"])

32200

In [81]:
min(df["종가"])

20700

In [82]:
round(np.mean(df["종가"]), 0)

25284.0

In [83]:
df['일자'] = pd.to_datetime(df['일자'], format='%Y-%m-%d')

In [84]:
df.columns

Index(['일자', '제목', 'nouns', '주식일자', '종가', '금종가', '유가종가', 'target',
       'article_text'],
      dtype='object')

In [85]:
article_df = df[['일자', 'article_text']]

In [86]:
article_df = article_df.groupby("일자").sum()

In [87]:
article_df.head()

                                                 article_text
일자
2022-01-02  [앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...
2022-01-03  한국항공대학교 제9대 총장으로 허희영 총장(64·경영학부 교수)이 취임했다. 임기는...
2022-01-04  ‘불륜’ 톱여배우 남편, 이혼설 부정 “좋은 아내이자 최고의 엄마”\n\n불륜을 인...
2022-01-05  태안·보령을 名品 휴양지로…'W 관광벨트' 박차\n\n충남 보령과 태안이 보령해저터...
2022-01-06  [앵커]\n\n세계 최대규모의 항공기 엔진정비 클러스터가 인천 영종도에 들어섭니다....

In [89]:
# article_df.to_csv("./sample.csv", encoding='utf-8-sig')

In [2]:
# tokenizer = Mecab()


# def preprocessing(data):
#   text_data = []

#   for sentence in data:
#     temp_data = []
#     #- 토큰화
#     temp_data = tokenizer.morphs(sentence) 
#     #- 불용어 제거
#     temp_data = [word for word in temp_data if not word in stopwords] 
#     text_data.append(temp_data)

#   text_data = list(map(' '.join, text_data))

#   return text_data

Exception: Install MeCab in order to use it: http://konlpy.org/en/latest/install/

In [110]:
import re

article = article_df["article_text"].values[0]

print(article)
# re.sub(r"[^\uAC00-\uD7A30-9a-zA-Z\s]", "", article)
# print(new_str)

[앵커]

최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저 꺾고 파죽의 6연승을 내달렸습니다.



돌풍의 핵으로 떠오른 우리카드의 상위권 진입도 시간 문제로 보입니다.



김상익 기자가 보도합니다.



[기자]

4위 우리카드가 전문가들의 예상을 깨고 1위 대한항공을 3대 0으로 완파했습니다.



외국인 선수 알렉스가 23득점으로 변함없는 주포 역할을 했고, 나경복과 김재휘, 송희채도 고르게 제 몫을 해냈습니다.



[신영철 / 우리카드 감독 : (달라진 건) 선수들의 생각의 차이인 것 같습니다. 목표는 한 경기 한 경기 최선을 다해서 승점을 올리는 게 목표입니다.]



우리카드는 리시브가 불안한 대한항공에 1세트를 16점만 내준 채 쉽게 가져오더니 2세트 역시 상대 실책과 연속 블로킹 성공으로 점수 차를 벌려 25대 21로 마무리했습니다.



집중력에서 앞선 우리카드는 듀스 접전 끝에 3세트마저 가져오면서 올 시즌 3차례 맞대결에서 한 번도 이겨보지 못했던 대한항공에 완승을 거뒀습니다.



송희채의 군 전역 복귀와 김재휘 영입 이후 6연승을 달리며 전혀 다른 팀으로 거듭난 우리카드는,



개막 3연패로 최하위로 처졌던 성적을 3위 한국전력과 승점 차 없는 4위까지 끌어올려 상위권 진입도 눈앞에 뒀습니다.



정지석 복귀 효과를 누리던 선두 대한항공은 최근 상승세가 3연승에서 발목이 잡혔습니다.



여자부 경기에서는 GS칼텍스가 5연승을 노렸던 흥국생명을 누르고 최근 3연패 부진에서 탈출했습니다.



YTN 김상익입니다.



YTN 김상익 (sikim@ytn.co.kr)





[저작권자(c) YTN 무단전재 및 재배포 금지][앵커]

최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저 꺾고 파죽의 6연승을 내달렸습니다.



돌풍의 핵으로 떠오른 우리카드의 상위권 진입도 시간 문제로 보입니다.



김상익 기자가 보도합니다.



[기자]

4위 우리카드가 전문가들의 예상을 깨고 1위 대한항공을 3대 0으로 완파했습니다.



외국인 선수 알렉스가 23득점으로 변함없는 주포 역할을 했고, 나경복과 김재휘, 송희채도 고르게 제 몫을 해냈습니다.



[신영철 / 우리카드 감독 : (달라진 건) 선수들의 생각의 차이인 것 같습니다. 목표는 한 경기 한 경기 최선을 다해서 승점을 올리는 게 목표입니다.]



우리카드는 리시브가 불안한 대한항공에 1세트를 16점만 내준 채 쉽게 가져오더니 2세트 역시 상대 실책과 연속 블로킹 성공으로 점수 차를 벌려 25대 21로 마무리했습니다.



집중력에서 앞선 우리카드는 듀스 접전 끝에 3세트마저 가져오면서 올 시즌 3차례 맞대결에서 한 번도 이겨보지 못했던 대한항공에 완승을 거뒀습니다.



송희채의 군 전역 복귀와 김재휘 영입 이후 6연승을 달리며 전혀 다른 팀으로 거듭난 우리카드는,



개막 3연패로 최하위로 처졌던 성적을 3위 한국전력과 승점 차 없는 4위까지 끌어올려 상위권 진입도 눈앞에 뒀습니다.



정지석 복귀 효과를 누리던 선두 대한항공은 최근 상승세가 3연승에서 발목이 잡혔습니다.



여자부 경기에서는 GS칼텍스가 5연승을 노렸던 흥국생명을 누르고 최근 3연패 부진에서 탈출했습니다.



YTN 김상익입니다.



YTN 김상익 (sikim@ytn.co.kr)





[저작권자(c) YTN 무단전재 및 재배포 금지]알렉스 23득점 맹폭…3 대 0 셧아웃 최하위서 반등…봄 배구 희망 키워

남자배구 우리카드가 다시 ‘봄 배구’를 꿈꾼다. 지난 시즌 챔피언결정전에서 졌던 디펜딩챔피언 대한한공을 상대로 쾌조의 6연승을 이어갔다.



우리카드는 2일 장충체육관에서 열린 2021~2022 프로배구 V리그 홈경기에서 3연승 중이던 선두 대한한공을 세트스코어 3-0(25-16 25-21 26-24)으로 완파했다. 올시즌 네 번째 대결 만에 거둔 대한항공전 첫 승이다. 시즌 초반 최하위까지 내려앉았던 우리카드(승점 27점·9승11패)는 반등의 6연승으로 3위 한국전력(승점 27점·11승8패)과 승점이 같아졌고, 승리에서 뒤진 4위를 지켰다.



예상 밖의 일방적인 승리였다. 1세트부터 우리카드가 리시브가 흔들린 대한항공을 압도했다. 9-6에서 나경복의 오픈 공격에 이은 상대 범실로 점수차를 벌렸다. 이어 알렉스 페헤이라의 오픈 공격, 하현용의 서브 득점이 나왔다. 여기에 송희채가 정지석의 퀵오픈을 가로막으면서 14-7, 더블스코어로 앞서나가며 무난히 세트를 따냈다. 우리카드는 2세트 18-18에서 곽승석의 오픈 공격이 아웃되면서 리드를 잡았다. 우리카드는 이어 10번의 랠리 끝에 알렉스가 마무리 공격을 성공시키면서 흐름을 가져왔다. 이어 송희채가 곽승석의 공격을 블로킹했고, 김완종의 스파이크 서브 때 나온 상대 리시브 실수까지 김재휘가 마무리했다. 3세트에서는 뒷심이 돋보였다. 우리카드는 21-23로 뒤진 가운데 상대 서브 범실에 이어 나경복의 공격으로 동점을 만들었다. 23-23에서는 알렉스가 대한항공 링컨 윌리엄스의 공격을 단독 블로킹했다. 알렉스는 24-24에서도 매치포인트를 가져왔고, 나경복이 스파이크 서브로 경기를 끝냈다. 외인 알렉스는 양 팀 최다인 23점으로 맹활약했다.



우리카드는 레프트 송희채(전역), 센터 김재휘(트레이드)가 가세하면서 가파른 상승세를 타고 있다.



신영철 감독은 “송희채가 오면서 코트에서 리드할 선수가 생겼고, 김재휘가 오면서 블로킹 높이나 속공에서 편해진 부분이 있다. 새해 첫 경기 선두 대한항공에 이겨 선수들도 자신감이 많이 생겼을 것”이라고 말했다.

프로배구 우리카드의 상승세가 무섭습니다.



선두 대한항공마저 잡고 6연승 행진을 이어갔습니다.



우리카드 알렉스가 강타를 내리꽂습니다.



알렉스는 공격뿐 아니라 수비에서도 블로킹 3개를 성공하며 혼자 23점을 몰아쳤습니다.



나경복은 2 대 0으로 앞선 3세트 듀스 상황에서 강력한 서브 에이스로 승리에 마침표를 찍었습니다.



6연승을 달린 우리카드는 3위 한국전력을 승점 차 없이 추격하며 상위권 도약을 눈앞에 뒀습니다.



여자부 GS칼텍스는 모마의 40점 맹활약을 앞세워 흥국생명을 3 대 1로 꺾고 3연패에서 벗어났습니다.



(영상편집 : 우기정)우리카드의 반전카드…꼴찌에서 6연승 신바람 뉴스 9 입력 2022.01.02 (21:32) 수정 2022.01.02 (21:38)

댓글

좋아요

공유하기 글씨 크게보기

가

글씨 작게보기

고화질 표준화질 자동재생 키보드 컨트롤 안내 동영상영역 시작 동영상 시작 동영상영역 끝 동영상 고정 취소 이전기사 이전기사 다음기사 다음기사

고화질 표준화질 자동재생 키보드 컨트롤 안내 동영상영역 시작 동영상 시작 동영상영역 끝 동영상설명 동영상 고정 취소

프로배구에서 한때 꼴찌로 추락했던 우리카드의 상승세가 예사롭지 않은데요.



선두 대한항공마저 꺾고 6연승을 달렸습니다.



우리카드 송희채가 블로킹에 성공한 뒤 활짝 웃습니다.



3세트 매치 포인트에서 나경복의 서브 득점이 터지면서 3대 0 완승.



올시즌 4번째 대결 만에 선두 대한항공까지 잡은 우리카드입니다.



우리카드는 파죽의 6연승을 기록하며 3위 한국전력과 승점이 같은 4위가 됐습니다.



프로농구 KCC의 정창영이 2쿼터 재치 만점의 득점을 올립니다.



수비에 집중하던 SK 최부경의 엉덩이를 맞힌 후 골밑슛을 성공시켰습니다.



그러나 경기에선 경기 막판까지 주도권을 잡은 SK가 85대 77로 승리하며 2연승했습니다.

우리카드의 반전카드…꼴찌에서 6연승 신바람

입력 2022-01-02 21:32:28 수정 2022-01-02 21:38:56 뉴스 9

프로배구에서 한때 꼴찌로 추락했던 우리카드의 상승세가 예사롭지 않은데요.



선두 대한항공마저 꺾고 6연승을 달렸습니다.



우리카드 송희채가 블로킹에 성공한 뒤 활짝 웃습니다.



3세트 매치 포인트에서 나경복의 서브 득점이 터지면서 3대 0 완승.



올시즌 4번째 대결 만에 선두 대한항공까지 잡은 우리카드입니다.



우리카드는 파죽의 6연승을 기록하며 3위 한국전력과 승점이 같은 4위가 됐습니다.



프로농구 KCC의 정창영이 2쿼터 재치 만점의 득점을 올립니다.



수비에 집중하던 SK 최부경의 엉덩이를 맞힌 후 골밑슛을 성공시켰습니다.



그러나 경기에선 경기 막판까지 주도권을 잡은 SK가 85대 77로 승리하며 2연승했습니다.



■ 제보하기

▷ 카카오톡 : 'KBS제보' 검색, 채널 추가

▷ 전화 : 02-781-1234, 4444

▷ 이메일 : kbs1234@kbs.co.kr

▷ 유튜브, 네이버, 카카오에서도 KBS뉴스를 구독해주세요!남자프로배구 우리카드가 선두 대한항공마저 집어삼키며 파죽의 6연승을 달렸다.

우리카드는 2일 서울 장충체육관에서 열린 도드람 2021-22시즌 V리그 4라운드 홈경기에서 대한항공을 세트스코어 3-0(25-16 25-21 26-24)으로 완파했다.

앞서 이번 시즌 대한항공을 상대로 3전 전패를 당했던 우리카드는 4번째 만남에서 첫 승을 거뒀다. 최근 5경기 연속 셧아웃 승리와 함께 6연승의 상승세를 이어간 우리카드는 3위 한국전력(11승8패)을 승점 차이 없이 추격하며 상위권 도약을 눈앞에 뒀다. 개막 전 우승후보로 꼽혔던 우리카드는 시즌 초반 극심한 부진에 빠지면서 하위권을 맴돌다가 분위기 반전에 성공한 모양새다.

반면 선두 대한항공(12승8패)은 3연승 행진을 마감했다. 승점 36에서 제자리 걸음을 해 승점은 같지만 다승에서 뒤진 KB손해보험(11승8패)에 1위 자리를 위협받게 됐다.

우리카드 높이의 승리였다. 최근 KB손해보험과의 트레이드를 통해 센터 김재휘를 데려간 우리카드는 블로킹 숫자에서 10-2로 대한항공을 압도했다. 외국인 선수 알렉스가 양 팀 최다인 23점을 터뜨리며 공격을 이끌었다. 나경복이 9점을 보탰고 김재휘(7점), 송희채(5점) 등 주전들이 모두 고르게 활약했다.

우리카드는 1세트에서 안정된 리시브 속에 다양한 패턴 플레이를 구사하며 초반부터 치고 나갔다. 대한항공은 세터 한선수의 토스 불안이 아쉬웠다. 한선수는 직전 경기인 현대캐피탈전에서 왼쪽 새끼손가락을 다쳤다. 대한항공은 4-7에서 한선수를 빼고 유광우를 투입했지만, 점수 차이는 시간이 갈수록 벌어졌다.

1세트를 힘없이 내준 대한항공은 2세트 시작과 함께 다시 한선수를 투입하며 반격에 나섰지만 막판 집중력에서 다시 우리카드에 밀렸다. 대한항공은 18-18에서 긴 랠리 끝에 곽승석의 직선 공격이 아웃되며 역전 기회를 놓쳤다. 반면 우리카드는 다음 랠리에서 알렉스가 4번째 공격 시도 만에 상대 블로킹을 뚫어냈다. 흐름을 탄 우리카드는 송희채의 블로킹, 김완종의 서브에 이은 김재휘의 다이렉트 킬로 22-18을 만들고 승기를 잡았다.

3세트는 양 팀이 팽팽하게 맞섰다. 우리카드 알렉스가 공격을 성공시키면 대한항공도 링컨의 스파이크로 반격했다. 마지막에 웃은 쪽은 우리카드였다. 21-23으로 뒤진 우리카드는 상대 한선수의 서브범실과 나경복의 쳐내기로 동점을 만들었다. 이어 24-24에서 알렉스의 쳐내기로 매치포인트에 도달했고, 나경복의 서브에이스로 승부에 마침표를 찍었다.

김기중 기자 k2j@hankookilbo.com

0 0 공유 카카오

페이스북

트위터

이메일

URL 기사저장프로배구 우리카드가 본 모습을 되찾았다. 6연승을 질주하며 순위권 싸움을 혼돈으로 몰고 갔다.

우리카드는 2일 서울 장충체육관에서 열린 도드람 2021~22 V리그 남자부 4라운드 대한항공과 경기에서 세트 스코어 3-0(25-16, 25-21, 26-24)으로 이겼다. 알렉스가 블로킹 3개 포함 양팀 통틀어 최다인 23점을 올렸다. 나경복이 9점, 김재휘가 7점을 기록했다.

우리카드(9승 11패·승점 30)는 6연승으로 달리며 3위 한국전력(11승 8패·승점 30)을 바짝 따라붙었다. 올 시즌 대한항공 상대 첫 승리를 거두며 전구단 상대 승리도 달성했다. 선두 대한항공(12승 8패·승점 36)은 2위 KB손해보험(11승 8패·승점 36)과 격차를 벌리는 데 실패했다.

우리카드는 상대 범실과 알렉스의 공격을 앞세워 여유있게 1세트를 따냈다. 대한항공은 유광우를 투입하며 변화를 줬지만 역부족이었다. 2세트는 접전이 이어졌지만 알렉스가 맹활약했고, 송희채의 결정적인 블로킹까지 터졌다. 3세트에선 듀스 접전이 펼쳐졌으나 알렉스가 집중력을 발휘했고, 나경복이 경기를 마무리짓는 서브 에이스를 기록했다.

우리카드는 지난 시즌 창단 후 처음으로 챔피언 결정전에 올랐다. 챔프전에서도 대한항공을 상대로 먼저 2승을 따내며 우승까지 한 발 앞에 다가갔다. 아쉽게도 알렉스의 부상으로 준우승에 머물렀지만, 올해 컵대회 정상에 오르며 다시 기대를 모았다.

하지만 예상과 달리 우리카드는 부진의 늪에 빠졌다. 개막 3연패를 시작으로 1라운드 1승 5패에 머물렀다. 2라운드에서도 2승 4패에 그쳤다. 최하위로 추락한 상황에 신영철 감독도 "변화가 필요하다"며 자책했다.

그런 우리카드가 드디어 살아났다. 5연패 이후 6연승을 달리며 상위권과 격차를 줄이는 데 성공했다. 시즌 초반 신영철 감독으로부터 태도 문제를 지적받았던 알렉스가 에이스의 모습을 되찾았고, 나경복이 시즌 내내 꾸준한 모습이다. 3라운드 막판 트레이드로 데려온 김재휘도 두 경기 연속 선발출전해 힘을 불어넣었다. 팀내 맏형 하현용도 부상 여파를 완전히 털어냈다.

In [111]:
# import re

# for i in article_df.index :
#     article = article_df["article_text"].values[i]
#     article_df["article_text_clean"] = re.sub(r"[^\uAC00-\uD7A30-9a-zA-Z\s]", "", article)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
article_df.reset_index(inplace=True)

In [122]:
stock_df = df.drop(['article_text', '제목', 'nouns'], axis=1)

In [112]:
pd.merge(article_df, df, on='일자', how="left")

,일자,article_text_x,제목,nouns,주식일자,종가,금종가,유가종가,target,article_text_y
0,2022-01-02,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...,"우리카드 ""1위 대한항공도 잡았다""...파죽의 6연승",우리카드 대한항공 파죽 연승,2022-01-03,29500,70090,76.08,0,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...
1,2022-01-02,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...,"우리카드 ""1위 대한항공도 잡았다""...파죽의 6연승",우리카드 대한항공 파죽 연승,2022-01-03,29500,70090,76.08,0,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...
2,2022-01-02,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...,"공중전 압도 우리카드, 선두 대한항공 날개 꺾고 6연승",공중전 압도 우리카드 선두 대한항공 날개 연승,2022-01-03,29500,70090,76.08,0,알렉스 23득점 맹폭…3 대 0 셧아웃 최하위서 반등…봄 배구 희망 키워\n\n남자...
3,2022-01-02,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...,선두 대한항공까지 잡았다 우리카드 6연승,선두 대한항공 우리카드 연승,2022-01-03,29500,70090,76.08,0,프로배구 우리카드의 상승세가 무섭습니다.\n\n\n\n선두 대한항공마저 잡고 6연승...
4,2022-01-02,[앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...,우리카드의 반전카드 꼴찌에서 6연승 신바람,우리카드 반전 카드 꼴찌 연승 신바람,2022-01-03,29500,70090,76.08,0,우리카드의 반전카드…꼴찌에서 6연승 신바람 뉴스 9 입력 2022.01.02 (21...
...,...,...,...,...,...,...,...,...,...,...
4812,2023-05-30,대체항공편으로 한인 1000여명 입국 “31일까지 나머지 관광객 수송 계획”\n\n...,‘괌 탈출’ 첫 항공편 인천공항 도착 기내에선 박수 소리,탈출 항공 인천공항 도착 기내 박수 소리,2023-05-31,22100,83450,68.09,0,“공항에 도착하자마자 기내에서 박수 소리가 터져 나왔어요.”\n\n엄청나게 강력한 ...
4813,2023-05-30,대체항공편으로 한인 1000여명 입국 “31일까지 나머지 관광객 수송 계획”\n\n...,“1주만에 ‘괌옥 탈출’ 비행기표 받고 울어 한국 착륙때 기내 환호”,괌옥 탈출 비행기표 한국 착륙 기내 환호,2023-05-31,22100,83450,68.09,0,초강력 태풍 ‘마와르’가 강타한 괌 현지에서 일주일 동안 발이 묶였던 한국인 관광객...
4814,2023-05-30,대체항공편으로 한인 1000여명 입국 “31일까지 나머지 관광객 수송 계획”\n\n...,1주일만에 태풍탓 ‘괌옥’ 탈출한 관광객들 “지옥의 밤 끝났다”,주일 태풍 괌옥 탈출 관광객 지옥,2023-05-31,22100,83450,68.09,0,태풍 '마와르' 영향으로 괌에 고립됐던 한국 관광객들이 괌 국제공항 운영 재개로 2...
4815,2023-05-30,대체항공편으로 한인 1000여명 입국 “31일까지 나머지 관광객 수송 계획”\n\n...,"‘슈퍼태풍’ 마와르로 괌에 발 묶인 韓관광객들, 배려 나눔으로 극복",슈퍼태풍 마와르 묶인 관광객 배려 나눔 극복,2023-05-31,22100,83450,68.09,0,연합뉴스\n\n슈퍼태풍 마와르로 괌에 발이 묶였던 한국 관광객들이 29일 귀국했다....
4816,2023-05-30,대체항공편으로 한인 1000여명 입국 “31일까지 나머지 관광객 수송 계획”\n\n...,"""일주일 만에 귀국""..'괌 탈출' 한국행 비행기, 오늘 오전까지 2500여명 귀국 예정",일주일 귀국 탈출 한국 비행기 오늘 오전 여명 귀국 예정,2023-05-31,22100,83450,68.09,0,공개 채팅방으로 정보공유하며 1주일 버텨\n\n귀국편 배정 못받은 1000명은 불안...

In [117]:
article_df.reset_index(inplace=True)

In [118]:
article_df

            일자                                       article_text
0   2022-01-02  [앵커]\n\n최근 무서운 상승세를 타고 있는 남자배구 우리카드가 1위 대한항공마저...
1   2022-01-03  한국항공대학교 제9대 총장으로 허희영 총장(64·경영학부 교수)이 취임했다. 임기는...
2   2022-01-04  ‘불륜’ 톱여배우 남편, 이혼설 부정 “좋은 아내이자 최고의 엄마”\n\n불륜을 인...
3   2022-01-05  태안·보령을 名品 휴양지로…'W 관광벨트' 박차\n\n충남 보령과 태안이 보령해저터...
4   2022-01-06  [앵커]\n\n세계 최대규모의 항공기 엔진정비 클러스터가 인천 영종도에 들어섭니다....
..         ...                                                ...
500 2023-05-26  대한항공 보잉 737-8 [대한항공 제공]\n\n[헤럴드경제=김현경 기자] 청주공항...
501 2023-05-27  [더 파이브: The 5] 대한항공이 합병을 성공시키는 방법\n\n연합뉴스\n\n‘...
502 2023-05-28  괌에 제2호 태풍 ‘마와르’가 강타한 모습. 독자 제공\n\n크게보기 25일(현지시...
503 2023-05-29  외교부, 신속대응팀 6명 파견…출국 수속 등 지원\n\n괌을 강타한 태풍 '마와르'...
504 2023-05-30  대체항공편으로 한인 1000여명 입국 “31일까지 나머지 관광객 수송 계획”\n\n...

[505 rows x 2 columns]

In [128]:
stock_df = stock_df.drop_duplicates(['일자'], keep='first')

In [130]:
main_df = pd.merge(article_df, stock_df, on='일자', how="left")

In [133]:
main_df.to_csv("./main_Data.csv", encoding='utf-8-sig')