In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("./유가 전처리 (완) 인베딩 (완).xlsx")

In [21]:
target = pd.read_excel('./DH(임베딩컬럼만).xlsx')

In [22]:
df.head(1)

,Unnamed: 0.1,Unnamed: 0,predict_date,oil_news,embedding
0,0,0,2022-01-03,상승2021년12월충청지역소비자물가동향충북과충남의물가상승률이4%대를기록했다.농축산물...,"[-0.6037547588348389, -0.2716784179210663, -0...."

In [24]:
target

,Unnamed: 0,predict_date,dh_embedding,oil_embedding,target
0,0,2022-01-02,"[-0.14264455437660217, 0.05831192433834076, 0....","[-0.3298284411430359, -0.40550950169563293, 0....",0
1,1,2022-01-03,"[-0.15551824867725372, -0.03494337573647499, 0...","[-0.14796359837055206, -0.4272714853286743, 0....",0
2,2,2022-01-04,"[-0.6354258060455322, -0.365503191947937, 0.98...","[-0.16407831013202667, 0.3745501935482025, 0.2...",0
3,3,2022-01-05,"[1.2611210346221924, -1.2480064630508423, 0.56...","[0.57369065284729, 0.3639283776283264, 0.44556...",0
4,4,2022-01-06,"[-1.170987844467163, -0.04770953953266144, 0.0...","[-0.3165379762649536, 0.6350396871566772, 0.40...",0
...,...,...,...,...,...
479,479,2023-05-26,"[-0.8856520056724548, 0.06582590192556381, 0.2...","[0.1317824423313141, -0.06475307792425156, 1.1...",0
480,480,2023-05-28,"[-0.7657447457313538, 1.1281311511993408, -2.1...","[-0.5577801465988159, 0.1386461704969406, 0.52...",1
481,481,2023-05-29,"[-0.12134005129337311, -0.26261863112449646, 1...","[-0.558170735836029, 0.14962132275104523, 0.47...",1
482,482,2023-05-30,"[0.152285635471344, -0.14103375375270844, 0.35...","[-0.9299746751785278, 0.0032070425804704428, 0...",1
483,483,2023-05-31,"[-0.13556396961212158, 0.7741327285766602, 0.7...","[-0.5138357281684875, -0.13166086375713348, 0....",0

In [25]:
target_2 = target[["predict_date", "target"]]

In [26]:
df_oil = pd.merge(df, target_2, how="left", on="predict_date")

In [27]:
df_oil = df_oil[["predict_date", "embedding", "target"]]

In [28]:
df_oil

    predict_date                                          embedding  target
0     2022-01-03  [-0.6037547588348389, -0.2716784179210663, -0....       0
1     2022-01-04  [-0.5196923017501831, -0.10586358606815338, -0...       0
2     2022-01-05  [0.06001903489232063, -0.26933538913726807, -0...       0
3     2022-01-06  [-0.6277961730957031, 0.20985981822013855, -0....       0
4     2022-01-07  [-1.1685419082641602, 0.013276146724820137, -0...       1
..           ...                                                ...     ...
478   2023-05-26  [-0.45255357027053833, -0.4723578691482544, -0...       0
479   2023-05-28  [-1.0465337038040161, -0.20726439356803894, -0...       1
480   2023-05-29  [-1.0465337038040161, -0.20726439356803894, -0...       1
481   2023-05-30  [-1.3429021835327148, 0.09569352120161057, 0.1...       1
482   2023-05-31  [-0.8286266326904297, -0.10805226862430573, -0...       0

[483 rows x 3 columns]

In [29]:
df_oil.to_excel("./유가임베딩샘플.xlsx")