In [2]:
import pandas as pd
import numpy as np

In [10]:
dh = pd.read_excel('./DH임베딩파일(찐막).xlsx', index_col=0)
lg = pd.read_excel('./LG임베딩파일(찐막).xlsx', index_col=0)

In [11]:
dh.head()

,predict_date,oil_embedding,dh_embedding,대한타겟
0,2022-01-03,"[-0.6037547588348389, -0.2716784179210663, -0....","[-1.1741582155227661, -0.0009895184775814414, ...",0
1,2022-01-04,"[-0.5196923017501831, -0.10586358606815338, -0...","[-1.5450119972229004, 0.1073550432920456, 0.62...",0
2,2022-01-05,"[0.06001903489232063, -0.26933538913726807, -0...","[0.8755739331245422, -1.1648186445236206, 0.42...",0
3,2022-01-06,"[-0.6277961730957031, 0.20985981822013855, -0....","[-1.0764273405075073, 0.5690973997116089, -1.2...",0
4,2022-01-07,"[-1.1685419082641602, 0.013276146724820137, -0...","[-0.9454445242881775, 0.6343138217926025, -0.3...",1

In [12]:
lg.head()

,predict_date,oil_embedding,lg_embedding,엘지타겟
1,2022-01-03,"[-0.6037547588348389, -0.2716784179210663, -0....","[-0.04477826505899429, -0.6552672982215881, -0...",0
2,2022-01-04,"[-0.5196923017501831, -0.10586358606815338, -0...","[-0.5478837490081787, -0.37626609206199646, -0...",1
3,2022-01-05,"[0.06001903489232063, -0.26933538913726807, -0...","[-1.141045331954956, 0.1912054866552353, -0.69...",1
4,2022-01-06,"[-0.6277961730957031, 0.20985981822013855, -0....","[-1.4709333181381226, 0.1910269409418106, -0.6...",1
5,2022-01-07,"[-1.1685419082641602, 0.013276146724820137, -0...","[-1.646777629852295, -0.45621272921562195, 0.0...",1

In [15]:
dh.shape

(483, 4)

In [18]:
oil_embedding = []
dh_embedding = []
for i in dh['oil_embedding']:
    oil_embedding.append(eval(i))
    # print(eval(i))
for i in dh['dh_embedding']:
    dh_embedding.append(eval(i))
dh['oil_embedding_1']= oil_embedding
dh['dh_embedding_2']= dh_embedding

In [19]:
df_result = pd.DataFrame()
for i in range(len(dh)):
#     print(pd.DataFrame(list(X_train['dh_embedding_1'])[i]).T)

    df_result= pd.concat([df_result, pd.DataFrame(list(dh['oil_embedding_1'])[i]).T], ignore_index = True)

In [28]:
type(list(df_result.iloc[0,:]))

list

In [25]:
df_result

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.603755,-0.271678,-0.812940,-0.732505,1.679937,-0.320991,0.525592,-0.279307,0.255106,0.215050,...,1.457479,0.809190,0.704428,0.146627,-0.854588,-1.671246,-0.436029,-0.057224,1.855249,1.139105
1,-0.519692,-0.105864,-0.399729,-0.153286,1.698339,0.407529,0.409696,1.019430,-1.025467,0.544463,...,0.407320,0.826747,1.114994,0.073963,-2.249787,-0.447777,-0.076592,0.005267,1.683512,0.757458
2,0.060019,-0.269335,-0.375879,-0.055317,1.237866,0.961472,0.435542,0.551956,-0.950539,0.339819,...,0.998950,1.134493,1.003262,0.288413,-2.100803,-0.600193,0.382251,-0.437854,1.418905,2.027399
3,-0.627796,0.209860,-0.601977,0.212837,1.812124,0.338195,0.436366,0.986948,-1.099345,0.497106,...,0.439375,1.022380,0.934944,-0.079708,-1.501415,-0.652590,-0.026899,-0.373844,1.491888,1.266829
4,-1.168542,0.013276,-0.546796,0.537248,1.024967,-0.028498,0.690467,0.386332,-0.914949,0.406805,...,0.892284,1.755600,0.381127,-0.117529,-1.447188,-1.316976,-0.099403,0.634946,1.323219,1.146488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,-0.452554,-0.472358,-0.218625,0.454478,1.475429,0.433745,0.329881,-0.043510,-0.453107,0.020897,...,0.906278,1.510035,1.389731,0.328730,-1.723043,-1.052029,0.378987,-1.323859,1.675607,2.448260
479,-1.046534,-0.207264,-0.606413,-0.067534,0.916513,0.263695,0.644144,0.938791,-0.131497,0.993549,...,0.785773,-0.209585,0.293168,-0.013948,-1.642941,-0.291213,-0.009325,0.488460,0.710202,1.555536
480,-1.046534,-0.207264,-0.606413,-0.067534,0.916513,0.263695,0.644144,0.938791,-0.131497,0.993549,...,0.785773,-0.209585,0.293168,-0.013948,-1.642941,-0.291213,-0.009325,0.488460,0.710202,1.555536
481,-1.342902,0.095694,0.102224,0.344559,0.964635,-0.093258,0.980000,-0.521690,-0.219455,0.449778,...,0.866611,1.295319,0.125314,0.521784,-0.554063,-0.810824,0.398724,0.599131,1.092970,1.299752
482,-0.828627,-0.108052,-0.471787,0.032621,1.702831,0.307299,0.773434,0.008827,-0.945687,0.402149,...,0.572994,0.904675,0.655314,-0.262713,-2.158640,-1.398129,0.274324,-0.683200,2.030005,1.209813

In [30]:
df_result_2 = pd.DataFrame()
for i in range(len(dh)):
#     print(pd.DataFrame(list(X_train['dh_embedding_1'])[i]).T)

    df_result_2= pd.concat([df_result_2, pd.DataFrame(list(dh['dh_embedding_2'])[i]).T], ignore_index = True)

In [31]:
type(list(df_result_2.iloc[0,:]))

list

In [37]:
tensor_3d = []

for i in dh.index :
    tensor_date = []
    for j in range(2) :
        tensor_date.append(list(df_result.iloc[j,:]))
        tensor_date.append(list(df_result_2.iloc[j,:]))
    tensor_3d.append(tensor_date)

tensor_3d = np.array(tensor_3d)

In [39]:
tensor_3d

array([[[-6.03754759e-01, -2.71678418e-01, -8.12940180e-01, ...,
         -5.72238266e-02,  1.85524893e+00,  1.13910508e+00],
        [-1.17415822e+00, -9.89518478e-04,  4.75905776e-01, ...,
         -4.26059663e-01,  1.20389152e+00,  1.27838409e+00],
        [-5.19692302e-01, -1.05863586e-01, -3.99729431e-01, ...,
          5.26651368e-03,  1.68351161e+00,  7.57457614e-01],
        [-1.54501200e+00,  1.07355043e-01,  6.29407763e-01, ...,
         -6.96542919e-01,  6.43939674e-01,  1.55743861e+00]],

       [[-6.03754759e-01, -2.71678418e-01, -8.12940180e-01, ...,
         -5.72238266e-02,  1.85524893e+00,  1.13910508e+00],
        [-1.17415822e+00, -9.89518478e-04,  4.75905776e-01, ...,
         -4.26059663e-01,  1.20389152e+00,  1.27838409e+00],
        [-5.19692302e-01, -1.05863586e-01, -3.99729431e-01, ...,
          5.26651368e-03,  1.68351161e+00,  7.57457614e-01],
        [-1.54501200e+00,  1.07355043e-01,  6.29407763e-01, ...,
         -6.96542919e-01,  6.43939674e-01,  1.55743861e+00]],

       [[-6.03754759e-01, -2.71678418e-01, -8.12940180e-01, ...,
         -5.72238266e-02,  1.85524893e+00,  1.13910508e+00],
        [-1.17415822e+00, -9.89518478e-04,  4.75905776e-01, ...,
         -4.26059663e-01,  1.20389152e+00,  1.27838409e+00],
        [-5.19692302e-01, -1.05863586e-01, -3.99729431e-01, ...,
          5.26651368e-03,  1.68351161e+00,  7.57457614e-01],
        [-1.54501200e+00,  1.07355043e-01,  6.29407763e-01, ...,
         -6.96542919e-01,  6.43939674e-01,  1.55743861e+00]],

       ...,

       [[-6.03754759e-01, -2.71678418e-01, -8.12940180e-01, ...,
         -5.72238266e-02,  1.85524893e+00,  1.13910508e+00],
        [-1.17415822e+00, -9.89518478e-04,  4.75905776e-01, ...,
         -4.26059663e-01,  1.20389152e+00,  1.27838409e+00],
        [-5.19692302e-01, -1.05863586e-01, -3.99729431e-01, ...,
          5.26651368e-03,  1.68351161e+00,  7.57457614e-01],
        [-1.54501200e+00,  1.07355043e-01,  6.29407763e-01, ...,
         -6.96542919e-01,  6.43939674e-01,  1.55743861e+00]],

       [[-6.03754759e-01, -2.71678418e-01, -8.12940180e-01, ...,
         -5.72238266e-02,  1.85524893e+00,  1.13910508e+00],
        [-1.17415822e+00, -9.89518478e-04,  4.75905776e-01, ...,
         -4.26059663e-01,  1.20389152e+00,  1.27838409e+00],
        [-5.19692302e-01, -1.05863586e-01, -3.99729431e-01, ...,
          5.26651368e-03,  1.68351161e+00,  7.57457614e-01],
        [-1.54501200e+00,  1.07355043e-01,  6.29407763e-01, ...,
         -6.96542919e-01,  6.43939674e-01,  1.55743861e+00]],

       [[-6.03754759e-01, -2.71678418e-01, -8.12940180e-01, ...,
         -5.72238266e-02,  1.85524893e+00,  1.13910508e+00],
        [-1.17415822e+00, -9.89518478e-04,  4.75905776e-01, ...,
         -4.26059663e-01,  1.20389152e+00,  1.27838409e+00],
        [-5.19692302e-01, -1.05863586e-01, -3.99729431e-01, ...,
          5.26651368e-03,  1.68351161e+00,  7.57457614e-01],
        [-1.54501200e+00,  1.07355043e-01,  6.29407763e-01, ...,
         -6.96542919e-01,  6.43939674e-01,  1.55743861e+00]]])

In [43]:
oil6 = pd.read_excel('./테스트데이터/df_oil_freq_6.xlsx', index_col=0)
lg6 = pd.read_excel('./테스트데이터/df_lg_freq_6.xlsx', index_col=0)

In [51]:
oil6.drop(['엘지타겟'], axis= 1, inplace=True)

In [54]:
oil6.head(1)

,러시아,유가,상승,하락,관련,평가,증권,업계,서부,텍사스,...,종부세,종료,목표,모두,수입,전월,인플레이션,영업,이익,한전
0,7.142857,10.48951,3.389831,8.59375,18.181818,15.384615,17.391304,0.0,9.090909,9.090909,...,0,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0

In [45]:
lg6.head(1)

,엘지타겟,화학,공장,생산,제공,전기차,배터리,소재,글로벌,예상,...,매각,베트남,방문,범용,양산,오피스,제주,취임,니켈,입자
0,0,6.25,12.820513,8.510638,0.0,9.090909,5.084746,4.6875,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [55]:
lg_df = pd.concat([oil6, lg6], axis=1)

In [57]:
lg_df.to_excel('./테스트데이터/(테스트)단어단위LG.xlsx')

In [58]:
oil7 = pd.read_excel('./테스트데이터/df_oil_freq_7.xlsx', index_col=0)
dh7 = pd.read_excel('./테스트데이터/df_dh_freq_7.xlsx', index_col=0)

In [61]:
oil7.drop(['엘지타겟'], axis= 1, inplace=True)

In [62]:
dh_df = pd.concat([oil7, dh7], axis=1)

In [63]:
dh_df.to_excel('./테스트데이터/(테스트)단어단위DH.xlsx')

In [65]:
dh_df.head()

,러시아,유가,상승,하락,관련,평가,증권,업계,서부,텍사스,...,광고,부산,유치,수하물,만족도,메뉴,신규,보람,비율,슬롯
0,7.142857,10.489510,3.389831,8.59375,18.181818,15.384615,17.391304,0.0,9.090909,9.090909,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0.0
1,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0.0
2,7.142857,2.797203,0.000000,2.34375,0.000000,0.000000,0.000000,0.0,9.090909,9.090909,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0.0
3,0.000000,2.097902,0.000000,2.34375,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0.0
4,0.000000,14.685315,18.644068,1.56250,18.181818,7.692308,26.086957,0.0,18.181818,18.181818,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0.0

In [70]:
pd.read_excel('./유가 전처리 (완) 인베딩 (완).xlsx', index_col=0)

,Unnamed: 0,predict_date,oil_news,embedding
0,0,2022-01-03,상승2021년12월충청지역소비자물가동향충북과충남의물가상승률이4%대를기록했다.농축산물...,"[-0.6037547588348389, -0.2716784179210663, -0...."
1,1,2022-01-04,"서울시내주유소모습.저작권자디지털타임스,무단전재및재배포금지주요에너지기관들은2022년에...","[-0.5196923017501831, -0.10586358606815338, -0..."
2,2,2022-01-05,"저작권자서울경제,무단전재및재배포금지미국뉴욕증시의주요지수가국채금리상승에엇갈린결과를보였...","[0.06001903489232063, -0.26933538913726807, -0..."
3,3,2022-01-06,美남미등수입처다변화안정적물량확보는어려워코로나19여파로원유가격이지난해연말이후상승세가이...,"[-0.6277961730957031, 0.20985981822013855, -0...."
4,4,2022-01-07,WTI배럴당77.85달러국제유가가6주만에최고로치솟았다.5일현지시간미국서부텍사스원유W...,"[-1.1685419082641602, 0.013276146724820137, -0..."
...,...,...,...,...
478,478,2023-05-26,"한국은행이기준금리를현수준인3.5%로,동결하며올해경제성장률전망치를낮춰잡았다.여전히높은...","[-0.45255357027053833, -0.4723578691482544, -0..."
479,479,2023-05-28,러시아와사우디아리바아의밀월에이상신호가감지되고있다.러시아가증산을지속하면서양국합의를기반...,"[-1.0465337038040161, -0.20726439356803894, -0..."
480,480,2023-05-29,러시아와사우디아리바아의밀월에이상신호가감지되고있다.러시아가증산을지속하면서양국합의를기반...,"[-1.0465337038040161, -0.20726439356803894, -0..."
481,481,2023-05-30,게티이미지뱅크경유와휘발유가격이한달간내림세를지속하며유가안정국면을보이고있다.대전지역경유...,"[-1.3429021835327148, 0.09569352120161057, 0.1..."
482,482,2023-05-31,국제경기부진과교역량둔화로수출회복이지연되고소비와투자둔화등내수경기가위축되면서올해국내경제...,"[-0.8286266326904297, -0.10805226862430573, -0..."