In [1]:
import pandas as pd

In [3]:
pd.read_csv("../경찰청_보이스피싱 현황_20221231.csv", encoding = "euc-kr")

,구분,기관사칭형_발생건수,기관사칭형_피해액_억원,기관사칭형_검거건수,기관사칭형_검거인원,대출사기형_발생건수,대출사기형_피해액_억원,대출사기형_검거건수,대출사기형_검거인원
0,2016,3384,541,3860,5682,13656,927,7526,9884
1,2017,5685,967,3776,4925,18574,1503,15842,20548
2,2018,6221,1430,4673,5491,27911,2610,25279,32133
3,2019,7219,2506,5487,6045,30448,3892,33791,42668
4,2020,7844,2144,4297,4797,23837,4856,29754,34527
5,2021,7017,1741,1954,1895,23965,6003,25693,24502
6,2022,8930,2077,4103,4500,12902,3361,20419,20530