In [6]:
import pandas as pd

# 예시 데이터프레임 생성
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']}, index=[0, 1, 2])
df2 = pd.DataFrame({'A': [2, 3, 4], 'B': ['b', 'c', 'd']}, index=[1, 2, 3])

# 중복된 인덱스 추출
duplicated_index = df1.index.intersection(df2.index)

# 추출된 중복 인덱스를 사용하여 행을 선택
duplicated_rows = df1.loc[duplicated_index]

duplicated_rows

   A  B
1  2  b
2  3  c

In [7]:
df1

   A  B
0  1  a
1  2  b
2  3  c

In [8]:
duplicated_index2 = df2.index.intersection(df1.index)

# 추출된 중복 인덱스를 사용하여 행을 선택
duplicated_rows2 = df2.loc[duplicated_index]

duplicated_rows2

   A  B
1  2  b
2  3  c

In [12]:
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (2.0.1)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (2.0.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\duja1\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
xlsx = pd.read_excel("2020코스피200_1분기.xlsx")
xlsx.to_csv("2020코스피200_1분기.csv")

In [19]:
xlsx2 = pd.read_excel("2020코스피200_반기.xlsx")
xlsx2.to_csv("2020코스피200_반기.csv")

In [ ]:
xl1 = pd.read_excel("./2020코스피200_1분기.xlsx")