# OpenApi 란?
 Open API는 다른 서비스나 기관이 제공하는 기능을 사용할 수 있도록 만들어진 인터페이스입니다. 이를 통해 외부 개발자는 해당 서비스의 기능을 활용하여 자신의 애플리케이션 또는 웹사이트에 통합할 수 있습니다.

 예를 들어, Open API를 사용하면 날씨 정보, 지도 데이터, 금융 정보, 영화 정보 등과 같은 다양한 데이터를 가져올 수 있습니다. 이러한 데이터는 외부 서비스에서 제공되며, Open API를 사용하여 해당 데이터에 접근할 수 있습니다.

API는 "Application Programming Interface"의 약자로, 다른 프로그램과 소통하기 위한 규약이나 방법을 의미합니다. Open API는 이 API를 외부 개발자에게 공개하여 사용할 수 있도록 한 것입니다. Open API는 주로 웹 기술과 연계되어 사용되며, HTTP 프로토콜을 통해 요청과 응답을 주고받습니다.

API를 사용하려면 해당 서비스에서 제공하는 API 키가 필요합니다. 이 키를 사용하여 API 요청을 보내면, 서비스 제공자는 요청을 처리하고 필요한 데이터를 응답으로 제공합니다. 응답은 일반적으로 JSON 또는 XML 형식으로 제공되며, 필요한 정보를 추출하여 활용할 수 있습니다.

따라서 Open API는 외부 서비스의 기능과 데이터를 활용하여 개발자가 자신의 애플리케이션에 통합할 수 있는 인터페이스입니다. 이를 통해 다양한 기능을 추가하거나 다른 서비스와 연결하여 보다 다양하고 유용한 애플리케이션을 개발할 수 있습니다.

In [1]:
# JSON(JavaScript Object Notation) 예시 
# {
#   "name": "John Doe",
#   "age": 30,
#   "city": "New York"
# }

In [2]:
# XML(eXtensible Markup Language) 예시
# <book>
#   <title>Harry Potter and the Chamber of Secrets</title>
#   <author>J.K. Rowling</author>
#   <year>1998</year>
# </book>

In [1]:
# 라이브러리 불러오기
import pandas as pd
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt
import os
import statistics as st
from datetime import datetime, timedelta
import requests
import json

# 경고 메세지 삭제
import warnings
warnings.filterwarnings('ignore')

# 한글 깨짐 방지
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'

---
## OpenApi로 영화데이터 가져오기
- https://www.kobis.or.kr/kobisopenapi/homepg/main/main.do

In [4]:
#발급키#
# 001a81c336fe1093a7b65899f0c4e9d4
# 434b7ef51f7c068162c9ccef24f54b28

In [2]:
# 발급 키 입력
yourkey = '001a81c336fe1093a7b65899f0c4e9d4'

# 날짜 입력
date_str = '20230710'

url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+yourkey+'&targetDt='+date_str

res = requests.get(url)
res
# <Response [200]> => 요청이 성공했음을 나타내는 성공 응답 상태 코드

In [3]:
# 텍스트로 변환
text = res.text
text

'{"boxOfficeResult":{"boxofficeType":"일별 박스오피스","showRange":"20230710~20230710","dailyBoxOfficeList":[{"rnum":"1","rank":"1","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20228930","movieNm":"엘리멘탈","openDt":"2023-06-14","salesAmt":"771788622","salesShare":"47.2","salesInten":"-2423928137","salesChange":"-75.8","salesAcc":"34498491580","audiCnt":"78297","audiInten":"-242957","audiChange":"-75.6","audiAcc":"3484399","scrnCnt":"1188","showCnt":"4898"},{"rnum":"2","rank":"2","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20226411","movieNm":"범죄도시3","openDt":"2023-05-31","salesAmt":"190122476","salesShare":"11.6","salesInten":"-328238821","salesChange":"-63.3","salesAcc":"103604510126","audiCnt":"21639","audiInten":"-37149","audiChange":"-63.2","audiAcc":"10555492","scrnCnt":"709","showCnt":"2662"},{"rnum":"3","rank":"3","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20232273","movieNm":"인디아나 존스: 운명의 다이얼","openDt":"2023-06-28","salesAmt":"159018671","salesShare":"9.7","salesInten":"-366627691","salesChange":"-69.7","salesAcc":"8011364316","audiCnt":"16634","audiInten":"-35952","audiChange":"-68.4","audiAcc":"808177","scrnCnt":"769","showCnt":"2002"},{"rnum":"4","rank":"4","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20232180","movieNm":"스파이더맨: 어크로스 더 유니버스","openDt":"2023-06-21","salesAmt":"131883190","salesShare":"8.1","salesInten":"-294062040","salesChange":"-69","salesAcc":"8495512283","audiCnt":"14463","audiInten":"-29639","audiChange":"-67.2","audiAcc":"819825","scrnCnt":"571","showCnt":"1239"},{"rnum":"5","rank":"5","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20219331","movieNm":"여름날 우리","openDt":"2021-08-25","salesAmt":"90613318","salesShare":"5.5","salesInten":"-116626889","salesChange":"-56.3","salesAcc":"1706220847","audiCnt":"9231","audiInten":"-11192","audiChange":"-54.8","audiAcc":"176545","scrnCnt":"206","showCnt":"382"},{"rnum":"6","rank":"6","rankInten":"2","rankOldAndNew":"OLD","movieCd":"20211937","movieNm":"귀공자","openDt":"2023-06-21","salesAmt":"68281202","salesShare":"4.2","salesInten":"-67540427","salesChange":"-49.7","salesAcc":"6551246168","audiCnt":"7069","audiInten":"-6392","audiChange":"-47.5","audiAcc":"666675","scrnCnt":"494","showCnt":"1010"},{"rnum":"7","rank":"7","rankInten":"2","rankOldAndNew":"OLD","movieCd":"20224579","movieNm":"악마들","openDt":"2023-07-05","salesAmt":"55636723","salesShare":"3.4","salesInten":"-58566920","salesChange":"-51.3","salesAcc":"737388127","audiCnt":"5669","audiInten":"-5184","audiChange":"-47.8","audiAcc":"73550","scrnCnt":"516","showCnt":"1116"},{"rnum":"8","rank":"8","rankInten":"2","rankOldAndNew":"OLD","movieCd":"20231889","movieNm":"보 이즈 어프레이드","openDt":"2023-07-05","salesAmt":"38088194","salesShare":"2.3","salesInten":"-26257181","salesChange":"-40.8","salesAcc":"389490154","audiCnt":"3882","audiInten":"-2339","audiChange":"-37.6","audiAcc":"39090","scrnCnt":"302","showCnt":"417"},{"rnum":"9","rank":"9","rankInten":"-2","rankOldAndNew":"OLD","movieCd":"20232570","movieNm":"극장판 도라에몽: 진구와 하늘의 유토피아","openDt":"2023-07-08","salesAmt":"19479800","salesShare":"1.2","salesInten":"-119743800","salesChange":"-86","salesAcc":"314917600","audiCnt":"2365","audiInten":"-12511","audiChange":"-84.1","audiAcc":"34665","scrnCnt":"194","showCnt":"323"},{"rnum":"10","rank":"10","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20231773","movieNm":"빈틈없는 사이","openDt":"2023-07-05","salesAmt":"14130787","salesShare":"0.9","salesInten":"-24838037","salesChange":"-63.7","salesAcc":"175976443","audiCnt":"1595","audiInten":"-2472","audiChange":"-60.8","audiAcc":"19026","scrnCnt":"259","showCnt":"373"}]}}'

In [4]:
# 데이터 추출
movie = json.loads(text)
movie

{'boxOfficeResult': {'boxofficeType': '일별 박스오피스',
  'showRange': '20230710~20230710',
  'dailyBoxOfficeList': [{'rnum': '1',
    'rank': '1',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'movieCd': '20228930',
    'movieNm': '엘리멘탈',
    'openDt': '2023-06-14',
    'salesAmt': '771788622',
    'salesShare': '47.2',
    'salesInten': '-2423928137',
    'salesChange': '-75.8',
    'salesAcc': '34498491580',
    'audiCnt': '78297',
    'audiInten': '-242957',
    'audiChange': '-75.6',
    'audiAcc': '3484399',
    'scrnCnt': '1188',
    'showCnt': '4898'},
   {'rnum': '2',
    'rank': '2',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'movieCd': '20226411',
    'movieNm': '범죄도시3',
    'openDt': '2023-05-31',
    'salesAmt': '190122476',
    'salesShare': '11.6',
    'salesInten': '-328238821',
    'salesChange': '-63.3',
    'salesAcc': '103604510126',
    'audiCnt': '21639',
    'audiInten': '-37149',
    'audiChange': '-63.2',
    'audiAcc': '10555492',
    'scrnCnt': '709',
    'showCnt': '2662'},
   {'rnum': '3',
    'rank': '3',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'movieCd': '20232273',
    'movieNm': '인디아나 존스: 운명의 다이얼',
    'openDt': '2023-06-28',
    'salesAmt': '159018671',
    'salesShare': '9.7',
    'salesInten': '-366627691',
    'salesChange': '-69.7',
    'salesAcc': '8011364316',
    'audiCnt': '16634',
    'audiInten': '-35952',
    'audiChange': '-68.4',
    'audiAcc': '808177',
    'scrnCnt': '769',
    'showCnt': '2002'},
   {'rnum': '4',
    'rank': '4',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'movieCd': '20232180',
    'movieNm': '스파이더맨: 어크로스 더 유니버스',
    'openDt': '2023-06-21',
    'salesAmt': '131883190',
    'salesShare': '8.1',
    'salesInten': '-294062040',
    'salesChange': '-69',
    'salesAcc': '8495512283',
    'audiCnt': '14463',
    'audiInten': '-29639',
    'audiChange': '-67.2',
    'audiAcc': '819825',
    'scrnCnt': '571',
    'showCnt': '1239'},
   {'rnum': '5',
    'rank': '5',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'movieCd': '20219331',
    'movieNm': '여름날 우리',
    'openDt': '2021-08-25',
    'salesAmt': '90613318',
    'salesShare': '5.5',
    'salesInten': '-116626889',
    'salesChange': '-56.3',
    'salesAcc': '1706220847',
    'audiCnt': '9231',
    'audiInten': '-11192',
    'audiChange': '-54.8',
    'audiAcc': '176545',
    'scrnCnt': '206',
    'showCnt': '382'},
   {'rnum': '6',
    'rank': '6',
    'rankInten': '2',
    'rankOldAndNew': 'OLD',
    'movieCd': '20211937',
    'movieNm': '귀공자',
    'openDt': '2023-06-21',
    'salesAmt': '68281202',
    'salesShare': '4.2',
    'salesInten': '-67540427',
    'salesChange': '-49.7',
    'salesAcc': '6551246168',
    'audiCnt': '7069',
    'audiInten': '-6392',
    'audiChange': '-47.5',
    'audiAcc': '666675',
    'scrnCnt': '494',
    'showCnt': '1010'},
   {'rnum': '7',
    'rank': '7',
    'rankInten': '2',
    'rankOldAndNew': 'OLD',
    'movieCd': '20224579',
    'movieNm': '악마들',
    'openDt': '2023-07-05',
    'salesAmt': '55636723',
    'salesShare': '3.4',
    'salesInten': '-58566920',
    'salesChange': '-51.3',
    'salesAcc': '737388127',
    'audiCnt': '5669',
    'audiInten': '-5184',
    'audiChange': '-47.8',
    'audiAcc': '73550',
    'scrnCnt': '516',
    'showCnt': '1116'},
   {'rnum': '8',
    'rank': '8',
    'rankInten': '2',
    'rankOldAndNew': 'OLD',
    'movieCd': '20231889',
    'movieNm': '보 이즈 어프레이드',
    'openDt': '2023-07-05',
    'salesAmt': '38088194',
    'salesShare': '2.3',
    'salesInten': '-26257181',
    'salesChange': '-40.8',
    'salesAcc': '389490154',
    'audiCnt': '3882',
    'audiInten': '-2339',
    'audiChange': '-37.6',
    'audiAcc': '39090',
    'scrnCnt': '302',
    'showCnt': '417'},
   {'rnum': '9',
    'rank': '9',
    'rankInten': '-2',
    'rankOldAndNew': 'OLD',
    'movieCd': '20232570',
    'movieNm': '극장판 도라에몽: 진구와 하늘의 유토피아',
    'openDt': '2023-07-08',
    'salesAmt': '19479800',
    'salesShare': '1.2',
    'salesInten': '-119743800',
    'salesChange': '-86',
    'salesAcc': '314917600',
    'audiCnt': '2365',
    'audiInten': '-12511',
    'audiChange': '-84.1',
    'audiAcc': '34665',
    'scrnCnt': '194',
    'showCnt': '323'},
   {'rnum': '10',
    'rank': '10',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'movieCd': '20231773',
    'movieNm': '빈틈없는 사이',
    'openDt': '2023-07-05',
    'salesAmt': '14130787',
    'salesShare': '0.9',
    'salesInten': '-24838037',
    'salesChange': '-63.7',
    'salesAcc': '175976443',
    'audiCnt': '1595',
    'audiInten': '-2472',
    'audiChange': '-60.8',
    'audiAcc': '19026',
    'scrnCnt': '259',
    'showCnt': '373'}]}}

In [5]:
# 일별 박스오피스에서 showRange의 값 20230601~20230601 추출해보기
movie['boxOfficeResult']['showRange']

'20230710~20230710'

In [6]:
# dailyBoxOfficeList의 값 모두 추출해보기
movie['boxOfficeResult']['dailyBoxOfficeList']

[{'rnum': '1',
  'rank': '1',
  'rankInten': '0',
  'rankOldAndNew': 'OLD',
  'movieCd': '20228930',
  'movieNm': '엘리멘탈',
  'openDt': '2023-06-14',
  'salesAmt': '771788622',
  'salesShare': '47.2',
  'salesInten': '-2423928137',
  'salesChange': '-75.8',
  'salesAcc': '34498491580',
  'audiCnt': '78297',
  'audiInten': '-242957',
  'audiChange': '-75.6',
  'audiAcc': '3484399',
  'scrnCnt': '1188',
  'showCnt': '4898'},
 {'rnum': '2',
  'rank': '2',
  'rankInten': '1',
  'rankOldAndNew': 'OLD',
  'movieCd': '20226411',
  'movieNm': '범죄도시3',
  'openDt': '2023-05-31',
  'salesAmt': '190122476',
  'salesShare': '11.6',
  'salesInten': '-328238821',
  'salesChange': '-63.3',
  'salesAcc': '103604510126',
  'audiCnt': '21639',
  'audiInten': '-37149',
  'audiChange': '-63.2',
  'audiAcc': '10555492',
  'scrnCnt': '709',
  'showCnt': '2662'},
 {'rnum': '3',
  'rank': '3',
  'rankInten': '1',
  'rankOldAndNew': 'OLD',
  'movieCd': '20232273',
  'movieNm': '인디아나 존스: 운명의 다이얼',
  'openDt': '2023-06-28',
  'salesAmt': '159018671',
  'salesShare': '9.7',
  'salesInten': '-366627691',
  'salesChange': '-69.7',
  'salesAcc': '8011364316',
  'audiCnt': '16634',
  'audiInten': '-35952',
  'audiChange': '-68.4',
  'audiAcc': '808177',
  'scrnCnt': '769',
  'showCnt': '2002'},
 {'rnum': '4',
  'rank': '4',
  'rankInten': '1',
  'rankOldAndNew': 'OLD',
  'movieCd': '20232180',
  'movieNm': '스파이더맨: 어크로스 더 유니버스',
  'openDt': '2023-06-21',
  'salesAmt': '131883190',
  'salesShare': '8.1',
  'salesInten': '-294062040',
  'salesChange': '-69',
  'salesAcc': '8495512283',
  'audiCnt': '14463',
  'audiInten': '-29639',
  'audiChange': '-67.2',
  'audiAcc': '819825',
  'scrnCnt': '571',
  'showCnt': '1239'},
 {'rnum': '5',
  'rank': '5',
  'rankInten': '1',
  'rankOldAndNew': 'OLD',
  'movieCd': '20219331',
  'movieNm': '여름날 우리',
  'openDt': '2021-08-25',
  'salesAmt': '90613318',
  'salesShare': '5.5',
  'salesInten': '-116626889',
  'salesChange': '-56.3',
  'salesAcc': '1706220847',
  'audiCnt': '9231',
  'audiInten': '-11192',
  'audiChange': '-54.8',
  'audiAcc': '176545',
  'scrnCnt': '206',
  'showCnt': '382'},
 {'rnum': '6',
  'rank': '6',
  'rankInten': '2',
  'rankOldAndNew': 'OLD',
  'movieCd': '20211937',
  'movieNm': '귀공자',
  'openDt': '2023-06-21',
  'salesAmt': '68281202',
  'salesShare': '4.2',
  'salesInten': '-67540427',
  'salesChange': '-49.7',
  'salesAcc': '6551246168',
  'audiCnt': '7069',
  'audiInten': '-6392',
  'audiChange': '-47.5',
  'audiAcc': '666675',
  'scrnCnt': '494',
  'showCnt': '1010'},
 {'rnum': '7',
  'rank': '7',
  'rankInten': '2',
  'rankOldAndNew': 'OLD',
  'movieCd': '20224579',
  'movieNm': '악마들',
  'openDt': '2023-07-05',
  'salesAmt': '55636723',
  'salesShare': '3.4',
  'salesInten': '-58566920',
  'salesChange': '-51.3',
  'salesAcc': '737388127',
  'audiCnt': '5669',
  'audiInten': '-5184',
  'audiChange': '-47.8',
  'audiAcc': '73550',
  'scrnCnt': '516',
  'showCnt': '1116'},
 {'rnum': '8',
  'rank': '8',
  'rankInten': '2',
  'rankOldAndNew': 'OLD',
  'movieCd': '20231889',
  'movieNm': '보 이즈 어프레이드',
  'openDt': '2023-07-05',
  'salesAmt': '38088194',
  'salesShare': '2.3',
  'salesInten': '-26257181',
  'salesChange': '-40.8',
  'salesAcc': '389490154',
  'audiCnt': '3882',
  'audiInten': '-2339',
  'audiChange': '-37.6',
  'audiAcc': '39090',
  'scrnCnt': '302',
  'showCnt': '417'},
 {'rnum': '9',
  'rank': '9',
  'rankInten': '-2',
  'rankOldAndNew': 'OLD',
  'movieCd': '20232570',
  'movieNm': '극장판 도라에몽: 진구와 하늘의 유토피아',
  'openDt': '2023-07-08',
  'salesAmt': '19479800',
  'salesShare': '1.2',
  'salesInten': '-119743800',
  'salesChange': '-86',
  'salesAcc': '314917600',
  'audiCnt': '2365',
  'audiInten': '-12511',
  'audiChange': '-84.1',
  'audiAcc': '34665',
  'scrnCnt': '194',
  'showCnt': '323'},
 {'rnum': '10',
  'rank': '10',
  'rankInten': '1',
  'rankOldAndNew': 'OLD',
  'movieCd': '20231773',
  'movieNm': '빈틈없는 사이',
  'openDt': '2023-07-05',
  'salesAmt': '14130787',
  'salesShare': '0.9',
  'salesInten': '-24838037',
  'salesChange': '-63.7',
  'salesAcc': '175976443',
  'audiCnt': '1595',
  'audiInten': '-2472',
  'audiChange': '-60.8',
  'audiAcc': '19026',
  'scrnCnt': '259',
  'showCnt': '373'}]

In [7]:
# 빈 리스트 생성
movie_list = []
 #박스오피스 일자 추출
boxoffice = movie['boxOfficeResult']['showRange']

for i in movie['boxOfficeResult']['dailyBoxOfficeList']:
    movie_list.append([boxoffice, i['movieNm'],i['movieCd'],i['audiCnt'],i['audiAcc']
                           ,i['openDt'],i['salesAmt'],i['salesAcc']
                           ,i['scrnCnt'],i['showCnt'],i['rank'],i['rankOldAndNew']])

movie_list

[['20230710~20230710',
  '엘리멘탈',
  '20228930',
  '78297',
  '3484399',
  '2023-06-14',
  '771788622',
  '34498491580',
  '1188',
  '4898',
  '1',
  'OLD'],
 ['20230710~20230710',
  '범죄도시3',
  '20226411',
  '21639',
  '10555492',
  '2023-05-31',
  '190122476',
  '103604510126',
  '709',
  '2662',
  '2',
  'OLD'],
 ['20230710~20230710',
  '인디아나 존스: 운명의 다이얼',
  '20232273',
  '16634',
  '808177',
  '2023-06-28',
  '159018671',
  '8011364316',
  '769',
  '2002',
  '3',
  'OLD'],
 ['20230710~20230710',
  '스파이더맨: 어크로스 더 유니버스',
  '20232180',
  '14463',
  '819825',
  '2023-06-21',
  '131883190',
  '8495512283',
  '571',
  '1239',
  '4',
  'OLD'],
 ['20230710~20230710',
  '여름날 우리',
  '20219331',
  '9231',
  '176545',
  '2021-08-25',
  '90613318',
  '1706220847',
  '206',
  '382',
  '5',
  'OLD'],
 ['20230710~20230710',
  '귀공자',
  '20211937',
  '7069',
  '666675',
  '2023-06-21',
  '68281202',
  '6551246168',
  '494',
  '1010',
  '6',
  'OLD'],
 ['20230710~20230710',
  '악마들',
  '20224579',
  '5669',
  '73550',
  '2023-07-05',
  '55636723',
  '737388127',
  '516',
  '1116',
  '7',
  'OLD'],
 ['20230710~20230710',
  '보 이즈 어프레이드',
  '20231889',
  '3882',
  '39090',
  '2023-07-05',
  '38088194',
  '389490154',
  '302',
  '417',
  '8',
  'OLD'],
 ['20230710~20230710',
  '극장판 도라에몽: 진구와 하늘의 유토피아',
  '20232570',
  '2365',
  '34665',
  '2023-07-08',
  '19479800',
  '314917600',
  '194',
  '323',
  '9',
  'OLD'],
 ['20230710~20230710',
  '빈틈없는 사이',
  '20231773',
  '1595',
  '19026',
  '2023-07-05',
  '14130787',
  '175976443',
  '259',
  '373',
  '10',
  'OLD']]

In [8]:
# 데이터프레임으로 변경
data = pd.DataFrame(movie_list)
data

,0,1,2,3,4,5,6,7,8,9,10,11
0,20230710~20230710,엘리멘탈,20228930,78297,3484399,2023-06-14,771788622,34498491580,1188,4898,1,OLD
1,20230710~20230710,범죄도시3,20226411,21639,10555492,2023-05-31,190122476,103604510126,709,2662,2,OLD
2,20230710~20230710,인디아나 존스: 운명의 다이얼,20232273,16634,808177,2023-06-28,159018671,8011364316,769,2002,3,OLD
3,20230710~20230710,스파이더맨: 어크로스 더 유니버스,20232180,14463,819825,2023-06-21,131883190,8495512283,571,1239,4,OLD
4,20230710~20230710,여름날 우리,20219331,9231,176545,2021-08-25,90613318,1706220847,206,382,5,OLD
5,20230710~20230710,귀공자,20211937,7069,666675,2023-06-21,68281202,6551246168,494,1010,6,OLD
6,20230710~20230710,악마들,20224579,5669,73550,2023-07-05,55636723,737388127,516,1116,7,OLD
7,20230710~20230710,보 이즈 어프레이드,20231889,3882,39090,2023-07-05,38088194,389490154,302,417,8,OLD
8,20230710~20230710,극장판 도라에몽: 진구와 하늘의 유토피아,20232570,2365,34665,2023-07-08,19479800,314917600,194,323,9,OLD
9,20230710~20230710,빈틈없는 사이,20231773,1595,19026,2023-07-05,14130787,175976443,259,373,10,OLD

In [9]:
# 컬럼명 변경 - '날짜','영화명','대표코드','개봉일 관객수','누적관객수','개봉일','개봉일 매출액','누적매출액','스크린수','상영된 횟수','순위','신규진입여부'
data.columns = ['날짜','영화명','대표코드','개봉일 관객수','누적관객수','개봉일','개봉일 매출액','누적매출액','스크린수','상영된 횟수','순위','신규진입여부']
data

,날짜,영화명,대표코드,개봉일 관객수,누적관객수,개봉일,개봉일 매출액,누적매출액,스크린수,상영된 횟수,순위,신규진입여부
0,20230710~20230710,엘리멘탈,20228930,78297,3484399,2023-06-14,771788622,34498491580,1188,4898,1,OLD
1,20230710~20230710,범죄도시3,20226411,21639,10555492,2023-05-31,190122476,103604510126,709,2662,2,OLD
2,20230710~20230710,인디아나 존스: 운명의 다이얼,20232273,16634,808177,2023-06-28,159018671,8011364316,769,2002,3,OLD
3,20230710~20230710,스파이더맨: 어크로스 더 유니버스,20232180,14463,819825,2023-06-21,131883190,8495512283,571,1239,4,OLD
4,20230710~20230710,여름날 우리,20219331,9231,176545,2021-08-25,90613318,1706220847,206,382,5,OLD
5,20230710~20230710,귀공자,20211937,7069,666675,2023-06-21,68281202,6551246168,494,1010,6,OLD
6,20230710~20230710,악마들,20224579,5669,73550,2023-07-05,55636723,737388127,516,1116,7,OLD
7,20230710~20230710,보 이즈 어프레이드,20231889,3882,39090,2023-07-05,38088194,389490154,302,417,8,OLD
8,20230710~20230710,극장판 도라에몽: 진구와 하늘의 유토피아,20232570,2365,34665,2023-07-08,19479800,314917600,194,323,9,OLD
9,20230710~20230710,빈틈없는 사이,20231773,1595,19026,2023-07-05,14130787,175976443,259,373,10,OLD

---
## 기간을 설정하고 추출해보기

In [10]:
date = datetime(2023, 1, 1)
date

datetime.datetime(2023, 1, 1, 0, 0)

In [11]:
# 방법1
# strftime사용 후 replace로 '-' 제거하기
date.strftime('%Y-%m-%d').replace('-','')

'20230101'

In [12]:
# 방법2 
# split() 문자열을 이쁘게 나눠서 리스트로 만들때 사용하는 함수
date = str(date)
date.split()[0].replace('-','')

'20230101'

In [13]:
# 날짜를 문자열로 변환하는 함수
def date_string(date):
    date_list = str(date).split()[0].split('-')
    date_str = date_list[0]+date_list[1]+date_list[2]
    return date_str

yourkey='001a81c336fe1093a7b65899f0c4e9d4' #(키 넣어주시면 됩니다!)

#원하는 날짜 +1 해주세요. 2022년 전체를 하고싶다면 (2023,1,1) (날짜 수정해주시면 됩니다!)
date = datetime(2023,7,10)
date_str = date_string(date)

# 2022년 1월1일까지만 할것이다 (날짜 수정해주시면 됩니다!)
while date_str != '20230701':
    date = date - timedelta(days=1)
    date_str = date_string(date)
    # print(date_str)
    
    url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+yourkey+'&targetDt='+date_str
    res = requests.get(url)
    text= res.text

    movie = json.loads(text)

    # 빈 리스트 생성
    movie_list = []

    boxoffice=movie['boxOfficeResult']['showRange'] #박스오피스 일자 추출

    for i in movie['boxOfficeResult']['dailyBoxOfficeList']:
        movie_list.append([boxoffice, i['movieNm'],i['movieCd'],i['audiCnt'],i['audiAcc'],i['openDt']
                           ,i['salesAmt'],i['salesAcc'],i['scrnCnt'],i['showCnt'],i['rank'],i['rankOldAndNew']])

    # 파일 이름 변경하는 곳 (파일이름 수정해주시면 됩니다!)
    data = pd.DataFrame(movie_list)
    
    # mode : 파일을 열 때의 모드, 'a'는 append(추가) 모드로, 기존 파일에 내용을 추가할 때 사용
    # encoding : 파일의 인코딩 방식을 지정합니다. 'utf-8'은 유니코드 문자를 지원하는 인코딩 방식으로, 다양한 언어의 문자를 처리
    # index : CSV 파일에 인덱스를 저장하지 않도록 설정, False는 인덱스가 저장되지 않음
    data.to_csv("2023.03_movie.csv", mode='a', encoding='utf-8', index=False)

In [14]:
# 저장된 데이터 불러오기
movie_df = pd.read_csv('./2023.03_movie.csv')
movie_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,20230709~20230709,엘리멘탈,20228930,321258,3406120,2023-06-14,3195758759,33726893958,1664,6019,1,OLD
1,20230709~20230709,미션 임파서블: 데드 레코닝 PART ONE,20232631,83694,166595,2023-07-12,895236066,1776922032,500,893,2,OLD
2,20230709~20230709,범죄도시3,20226411,58788,10533870,2023-05-31,518361297,103414555650,823,2702,3,OLD
3,20230709~20230709,인디아나 존스: 운명의 다이얼,20232273,52588,791546,2023-06-28,525676362,7852380645,954,2167,4,OLD
4,20230709~20230709,스파이더맨: 어크로스 더 유니버스,20232180,44102,805365,2023-06-21,425945230,8363648093,646,1182,5,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...
192,20230701~20230701,여름날 우리,20219331,11558,78417,2021-08-25,119451386,723616986,230,327,6,OLD
193,20230701~20230701,"2022 영탁 단독 콘서트 ""탁쇼""",20232220,7106,27642,2023-06-28,170534500,663349500,64,134,7,OLD
194,20230701~20230701,플래시,20231971,6691,620721,2023-06-14,67874439,6595774081,219,278,8,OLD
195,20230701~20230701,명탐정코난: 하이바라 아이 이야기 ~흑철의 미스터리 트레인,20232075,5756,64538,2023-06-23,64061600,670238800,148,265,9,OLD
196,20230701~20230701,파이어하트,20231589,5553,11079,2023-06-28,49629350,91069900,184,361,10,OLD

In [15]:
# 컬럼명 변경
movie_df.columns = ['날짜','영화명','대표코드','개봉일 관객수','누적관객수','개봉일','개봉일 매출액','누적매출액','스크린수','상영된 횟수','순위','신규진입여부']
movie_df

,날짜,영화명,대표코드,개봉일 관객수,누적관객수,개봉일,개봉일 매출액,누적매출액,스크린수,상영된 횟수,순위,신규진입여부
0,20230709~20230709,엘리멘탈,20228930,321258,3406120,2023-06-14,3195758759,33726893958,1664,6019,1,OLD
1,20230709~20230709,미션 임파서블: 데드 레코닝 PART ONE,20232631,83694,166595,2023-07-12,895236066,1776922032,500,893,2,OLD
2,20230709~20230709,범죄도시3,20226411,58788,10533870,2023-05-31,518361297,103414555650,823,2702,3,OLD
3,20230709~20230709,인디아나 존스: 운명의 다이얼,20232273,52588,791546,2023-06-28,525676362,7852380645,954,2167,4,OLD
4,20230709~20230709,스파이더맨: 어크로스 더 유니버스,20232180,44102,805365,2023-06-21,425945230,8363648093,646,1182,5,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...
192,20230701~20230701,여름날 우리,20219331,11558,78417,2021-08-25,119451386,723616986,230,327,6,OLD
193,20230701~20230701,"2022 영탁 단독 콘서트 ""탁쇼""",20232220,7106,27642,2023-06-28,170534500,663349500,64,134,7,OLD
194,20230701~20230701,플래시,20231971,6691,620721,2023-06-14,67874439,6595774081,219,278,8,OLD
195,20230701~20230701,명탐정코난: 하이바라 아이 이야기 ~흑철의 미스터리 트레인,20232075,5756,64538,2023-06-23,64061600,670238800,148,265,9,OLD
196,20230701~20230701,파이어하트,20231589,5553,11079,2023-06-28,49629350,91069900,184,361,10,OLD

In [16]:
# 정보 추출
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       197 non-null    object
 1   영화명      197 non-null    object
 2   대표코드     197 non-null    int64
 3   개봉일 관객수  197 non-null    int64
 4   누적관객수    197 non-null    int64
 5   개봉일      197 non-null    object
 6   개봉일 매출액  197 non-null    int64
 7   누적매출액    197 non-null    int64
 8   스크린수     197 non-null    int64
 9   상영된 횟수   197 non-null    int64
 10  순위       197 non-null    int64
 11  신규진입여부   197 non-null    object
dtypes: int64(8), object(4)
memory usage: 18.6+ KB

In [17]:
# 날짜 8자리만 추출
movie_df['날짜'] = movie_df['날짜'].str[:8]
movie_df

,날짜,영화명,대표코드,개봉일 관객수,누적관객수,개봉일,개봉일 매출액,누적매출액,스크린수,상영된 횟수,순위,신규진입여부
0,20230709,엘리멘탈,20228930,321258,3406120,2023-06-14,3195758759,33726893958,1664,6019,1,OLD
1,20230709,미션 임파서블: 데드 레코닝 PART ONE,20232631,83694,166595,2023-07-12,895236066,1776922032,500,893,2,OLD
2,20230709,범죄도시3,20226411,58788,10533870,2023-05-31,518361297,103414555650,823,2702,3,OLD
3,20230709,인디아나 존스: 운명의 다이얼,20232273,52588,791546,2023-06-28,525676362,7852380645,954,2167,4,OLD
4,20230709,스파이더맨: 어크로스 더 유니버스,20232180,44102,805365,2023-06-21,425945230,8363648093,646,1182,5,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...
192,20230701,여름날 우리,20219331,11558,78417,2021-08-25,119451386,723616986,230,327,6,OLD
193,20230701,"2022 영탁 단독 콘서트 ""탁쇼""",20232220,7106,27642,2023-06-28,170534500,663349500,64,134,7,OLD
194,20230701,플래시,20231971,6691,620721,2023-06-14,67874439,6595774081,219,278,8,OLD
195,20230701,명탐정코난: 하이바라 아이 이야기 ~흑철의 미스터리 트레인,20232075,5756,64538,2023-06-23,64061600,670238800,148,265,9,OLD
196,20230701,파이어하트,20231589,5553,11079,2023-06-28,49629350,91069900,184,361,10,OLD

In [18]:
# 1. 날짜 순으로 내림차순 정렬
# 2. 데이터 중 문제가 있는 데이터 제거
# 3. 날짜 - 데이트타임형태로 변경
# 4. 인덱스 초기화
movie_df = movie_df.sort_values(by='날짜', ignore_index=True)
movie_df = movie_df[movie_df['날짜']!='0'].reindex()
movie_df['날짜'] = pd.to_datetime(movie_df['날짜'])
movie_df

,날짜,영화명,대표코드,개봉일 관객수,누적관객수,개봉일,개봉일 매출액,누적매출액,스크린수,상영된 횟수,순위,신규진입여부
17,2023-07-01,인디아나 존스: 운명의 다이얼,20232273,155154,396521,2023-06-28,1634901197,3896103389,1268,4208,2,OLD
18,2023-07-01,플래시,20231971,6691,620721,2023-06-14,67874439,6595774081,219,278,8,OLD
19,2023-07-01,"2022 영탁 단독 콘서트 ""탁쇼""",20232220,7106,27642,2023-06-28,170534500,663349500,64,134,7,OLD
20,2023-07-01,여름날 우리,20219331,11558,78417,2021-08-25,119451386,723616986,230,327,6,OLD
21,2023-07-01,귀공자,20211937,42972,534149,2023-06-21,449173999,5229043698,692,1637,5,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...
192,2023-07-09,귀공자,20211937,13461,659606,2023-06-21,135821629,6482964966,519,894,8,OLD
193,2023-07-09,악마들,20224579,10853,67881,2023-07-05,114203643,681751404,551,1056,9,OLD
194,2023-07-09,보 이즈 어프레이드,20231889,6221,35208,2023-07-05,64345375,351401960,303,406,10,OLD
195,2023-07-09,엘리멘탈,20228930,321254,3406102,2023-06-14,3195716759,33726702958,1664,6019,1,OLD
196,2023-07-09,엘리멘탈,20228930,321258,3406120,2023-06-14,3195758759,33726893958,1664,6019,1,OLD

---
## 공공 Openapi 데이터 가져오기
- 한국환경공단_에어코리아_대기오염통계 현황
- https://www.data.go.kr/iim/api/selectAPIAcountView.do

In [19]:
# url 입력
yourkey = '1UQZTnyGMC0LoiusOGYLU6SJfaOJXqz2t6ZUUw5ZKDIxOzFGGkhLlW3bHkT5vaShQrUqJrZRPJucnWmszUsVJQ%3D%3D'

url = 'https://apis.data.go.kr/B552584/ArpltnStatsSvc/getMsrstnAcctoRMmrg?serviceKey='+yourkey+'&returnType=json&numOfRows=100&pageNo=1&inqBginMm=202205&inqEndMm=202305&msrstnName=%EA%B0%95%EB%82%A8%EA%B5%AC'

# url 불러오기
response = requests.get(url)

#데이터 값 출력해보기
contents = response.text
contents

'{"response":{"body":{"totalCount":13,"items":[{"msurMm":"2022-05","so2Value":".003","coValue":".3","msrstnName":"강남구","pm10Value":"31","no2Value":".016","o3Value":".051","pm25Value":"16"},{"msurMm":"2022-06","so2Value":".003","coValue":".3","msrstnName":"강남구","pm10Value":"22","no2Value":".016","o3Value":".038","pm25Value":"12"},{"msurMm":"2022-07","so2Value":".003","coValue":".3","msrstnName":"강남구","pm10Value":"26","no2Value":".017","o3Value":".039","pm25Value":"17"},{"msurMm":"2022-08","so2Value":".003","coValue":".3","msrstnName":"강남구","pm10Value":"21","no2Value":".017","o3Value":".033","pm25Value":"12"},{"msurMm":"2022-09","so2Value":".003","coValue":".3","msrstnName":"강남구","pm10Value":"23","no2Value":".02","o3Value":".032","pm25Value":"12"},{"msurMm":"2022-10","so2Value":".003","coValue":".4","msrstnName":"강남구","pm10Value":"26","no2Value":".024","o3Value":".024","pm25Value":"14"},{"msurMm":"2022-11","so2Value":".003","coValue":".5","msrstnName":"강남구","pm10Value":"39","no2Value":".031","o3Value":".019","pm25Value":"22"},{"msurMm":"2022-12","so2Value":".003","coValue":".5","msrstnName":"강남구","pm10Value":"37","no2Value":".029","o3Value":".016","pm25Value":"18"},{"msurMm":"2023-01","so2Value":".003","coValue":".5","msrstnName":"강남구","pm10Value":"46","no2Value":".031","o3Value":".017","pm25Value":"25"},{"msurMm":"2023-02","so2Value":".003","coValue":".5","msrstnName":"강남구","pm10Value":"46","no2Value":".032","o3Value":".023","pm25Value":"28"},{"msurMm":"2023-03","so2Value":".003","coValue":".5","msrstnName":"강남구","pm10Value":"65","no2Value":".031","o3Value":".034","pm25Value":"29"},{"msurMm":"2023-04","so2Value":".003","coValue":".4","msrstnName":"강남구","pm10Value":"60","no2Value":".02","o3Value":".04","pm25Value":"19"},{"msurMm":"2023-05","so2Value":".003","coValue":".3","msrstnName":"강남구","pm10Value":"38","no2Value":".02","o3Value":".043","pm25Value":"18"}],"pageNo":1,"numOfRows":100},"header":{"resultMsg":"NORMAL_CODE","resultCode":"00"}}}'

In [20]:
json.loads(contents)

{'response': {'body': {'totalCount': 13,
   'items': [{'msurMm': '2022-05',
     'so2Value': '.003',
     'coValue': '.3',
     'msrstnName': '강남구',
     'pm10Value': '31',
     'no2Value': '.016',
     'o3Value': '.051',
     'pm25Value': '16'},
    {'msurMm': '2022-06',
     'so2Value': '.003',
     'coValue': '.3',
     'msrstnName': '강남구',
     'pm10Value': '22',
     'no2Value': '.016',
     'o3Value': '.038',
     'pm25Value': '12'},
    {'msurMm': '2022-07',
     'so2Value': '.003',
     'coValue': '.3',
     'msrstnName': '강남구',
     'pm10Value': '26',
     'no2Value': '.017',
     'o3Value': '.039',
     'pm25Value': '17'},
    {'msurMm': '2022-08',
     'so2Value': '.003',
     'coValue': '.3',
     'msrstnName': '강남구',
     'pm10Value': '21',
     'no2Value': '.017',
     'o3Value': '.033',
     'pm25Value': '12'},
    {'msurMm': '2022-09',
     'so2Value': '.003',
     'coValue': '.3',
     'msrstnName': '강남구',
     'pm10Value': '23',
     'no2Value': '.02',
     'o3Value': '.032',
     'pm25Value': '12'},
    {'msurMm': '2022-10',
     'so2Value': '.003',
     'coValue': '.4',
     'msrstnName': '강남구',
     'pm10Value': '26',
     'no2Value': '.024',
     'o3Value': '.024',
     'pm25Value': '14'},
    {'msurMm': '2022-11',
     'so2Value': '.003',
     'coValue': '.5',
     'msrstnName': '강남구',
     'pm10Value': '39',
     'no2Value': '.031',
     'o3Value': '.019',
     'pm25Value': '22'},
    {'msurMm': '2022-12',
     'so2Value': '.003',
     'coValue': '.5',
     'msrstnName': '강남구',
     'pm10Value': '37',
     'no2Value': '.029',
     'o3Value': '.016',
     'pm25Value': '18'},
    {'msurMm': '2023-01',
     'so2Value': '.003',
     'coValue': '.5',
     'msrstnName': '강남구',
     'pm10Value': '46',
     'no2Value': '.031',
     'o3Value': '.017',
     'pm25Value': '25'},
    {'msurMm': '2023-02',
     'so2Value': '.003',
     'coValue': '.5',
     'msrstnName': '강남구',
     'pm10Value': '46',
     'no2Value': '.032',
     'o3Value': '.023',
     'pm25Value': '28'},
    {'msurMm': '2023-03',
     'so2Value': '.003',
     'coValue': '.5',
     'msrstnName': '강남구',
     'pm10Value': '65',
     'no2Value': '.031',
     'o3Value': '.034',
     'pm25Value': '29'},
    {'msurMm': '2023-04',
     'so2Value': '.003',
     'coValue': '.4',
     'msrstnName': '강남구',
     'pm10Value': '60',
     'no2Value': '.02',
     'o3Value': '.04',
     'pm25Value': '19'},
    {'msurMm': '2023-05',
     'so2Value': '.003',
     'coValue': '.3',
     'msrstnName': '강남구',
     'pm10Value': '38',
     'no2Value': '.02',
     'o3Value': '.043',
     'pm25Value': '18'}],
   'pageNo': 1,
   'numOfRows': 100},
  'header': {'resultMsg': 'NORMAL_CODE', 'resultCode': '00'}}}

In [21]:
pd.DataFrame(json.loads(contents)['response']['body']['items'])

     msurMm so2Value coValue msrstnName pm10Value no2Value o3Value pm25Value
0   2022-05     .003      .3        강남구        31     .016    .051        16
1   2022-06     .003      .3        강남구        22     .016    .038        12
2   2022-07     .003      .3        강남구        26     .017    .039        17
3   2022-08     .003      .3        강남구        21     .017    .033        12
4   2022-09     .003      .3        강남구        23      .02    .032        12
5   2022-10     .003      .4        강남구        26     .024    .024        14
6   2022-11     .003      .5        강남구        39     .031    .019        22
7   2022-12     .003      .5        강남구        37     .029    .016        18
8   2023-01     .003      .5        강남구        46     .031    .017        25
9   2023-02     .003      .5        강남구        46     .032    .023        28
10  2023-03     .003      .5        강남구        65     .031    .034        29
11  2023-04     .003      .4        강남구        60      .02     .04        19
12  2023-05     .003      .3        강남구        38      .02    .043        18

In [22]:
# url 입력
yourkey = '1UQZTnyGMC0LoiusOGYLU6SJfaOJXqz2t6ZUUw5ZKDIxOzFGGkhLlW3bHkT5vaShQrUqJrZRPJucnWmszUsVJQ%3D%3D'

url = 'https://apis.data.go.kr/B552584/ArpltnStatsSvc/getMsrstnAcctoRMmrg?serviceKey=1UQZTnyGMC0LoiusOGYLU6SJfaOJXqz2t6ZUUw5ZKDIxOzFGGkhLlW3bHkT5vaShQrUqJrZRPJucnWmszUsVJQ%3D%3D&returnType=json&numOfRows=100&pageNo=1&inqBginMm=202205&inqEndMm=202305&msrstnName=%EA%B5%AC%EB%A1%9C%EA%B5%AC'

# url 불러오기
response = requests.get(url)

#데이터 값 출력해보기
contents = response.text
contents

'{"response":{"body":{"totalCount":13,"items":[{"msurMm":"2022-05","so2Value":".003","coValue":".4","msrstnName":"구로구","pm10Value":"39","no2Value":".014","o3Value":".049","pm25Value":"16"},{"msurMm":"2022-06","so2Value":".002","coValue":".3","msrstnName":"구로구","pm10Value":"22","no2Value":".01","o3Value":".038","pm25Value":"11"},{"msurMm":"2022-07","so2Value":".002","coValue":".3","msrstnName":"구로구","pm10Value":"21","no2Value":".011","o3Value":".039","pm25Value":"12"},{"msurMm":"2022-08","so2Value":".002","coValue":".3","msrstnName":"구로구","pm10Value":"16","no2Value":".011","o3Value":".033","pm25Value":"7"},{"msurMm":"2022-09","so2Value":".002","coValue":".3","msrstnName":"구로구","pm10Value":"26","no2Value":".014","o3Value":".033","pm25Value":"11"},{"msurMm":"2022-10","so2Value":".002","coValue":".4","msrstnName":"구로구","pm10Value":"33","no2Value":".019","o3Value":".024","pm25Value":"16"},{"msurMm":"2022-11","so2Value":".003","coValue":".4","msrstnName":"구로구","pm10Value":"47","no2Value":".026","o3Value":".017","pm25Value":"23"},{"msurMm":"2022-12","so2Value":".003","coValue":".4","msrstnName":"구로구","pm10Value":"40","no2Value":".025","o3Value":".014","pm25Value":"17"},{"msurMm":"2023-01","so2Value":".003","coValue":".4","msrstnName":"구로구","pm10Value":"52","no2Value":".027","o3Value":".014","pm25Value":"25"},{"msurMm":"2023-02","so2Value":".003","coValue":".5","msrstnName":"구로구","pm10Value":"50","no2Value":".027","o3Value":".019","pm25Value":"30"},{"msurMm":"2023-03","so2Value":".003","coValue":".5","msrstnName":"구로구","pm10Value":"79","no2Value":".024","o3Value":".029","pm25Value":"36"},{"msurMm":"2023-04","so2Value":".003","coValue":".4","msrstnName":"구로구","pm10Value":"74","no2Value":".016","o3Value":".036","pm25Value":"23"},{"msurMm":"2023-05","so2Value":".003","coValue":".3","msrstnName":"구로구","pm10Value":"45","no2Value":".014","o3Value":".037","pm25Value":"18"}],"pageNo":1,"numOfRows":100},"header":{"resultMsg":"NORMAL_CODE","resultCode":"00"}}}'

In [23]:
pd.DataFrame(json.loads(contents)['response']['body']['items'])

     msurMm so2Value coValue msrstnName pm10Value no2Value o3Value pm25Value
0   2022-05     .003      .4        구로구        39     .014    .049        16
1   2022-06     .002      .3        구로구        22      .01    .038        11
2   2022-07     .002      .3        구로구        21     .011    .039        12
3   2022-08     .002      .3        구로구        16     .011    .033         7
4   2022-09     .002      .3        구로구        26     .014    .033        11
5   2022-10     .002      .4        구로구        33     .019    .024        16
6   2022-11     .003      .4        구로구        47     .026    .017        23
7   2022-12     .003      .4        구로구        40     .025    .014        17
8   2023-01     .003      .4        구로구        52     .027    .014        25
9   2023-02     .003      .5        구로구        50     .027    .019        30
10  2023-03     .003      .5        구로구        79     .024    .029        36
11  2023-04     .003      .4        구로구        74     .016    .036        23
12  2023-05     .003      .3        구로구        45     .014    .037        18