In [1]:
import pandas as pd

In [146]:
big_a = pd.read_csv('./타겟나누기/중견1.csv', encoding='euc-kr')
big_b = pd.read_csv('./타겟나누기/중견2.csv', encoding='euc-kr')
sml_a = pd.read_csv('./타겟나누기/중소1.csv', encoding='euc-kr')
sml_b = pd.read_csv('./타겟나누기/중소2.csv', encoding='euc-kr')
sml_c = pd.read_csv('./타겟나누기/중소3.csv', encoding='euc-kr')
sml_d = pd.read_csv('./타겟나누기/중소4.csv', encoding='euc-kr')
sml_e = pd.read_csv('./타겟나누기/중소5.csv', encoding='euc-kr')
sml_f = pd.read_csv('./타겟나누기/중소6.csv', encoding='euc-kr')
sml_g = pd.read_csv('./타겟나누기/중소7.csv', encoding='euc-kr')
sml_h = pd.read_csv('./타겟나누기/중소8.csv', encoding='euc-kr')
sml_i = pd.read_csv('./타겟나누기/중소9.csv', encoding='euc-kr')
sml_j = pd.read_csv('./타겟나누기/중소10.csv', encoding='euc-kr')
sml_k = pd.read_csv('./타겟나누기/중소11.csv', encoding='euc-kr')

In [147]:
total_df = pd.concat([big_a, big_b, sml_a, sml_b, sml_c, sml_d, sml_e, sml_f, sml_g, sml_h, sml_i, sml_j, sml_k], axis=0)

In [148]:
len(total_df['회사명'].unique())

45863

In [149]:
len(big_a['회사명'].unique())

4699

In [150]:
len(big_b['회사명'].unique())

870

In [151]:
# total_df.reset_index()

In [152]:
# total_df.to_csv('./mk_target.csv', index=False, encoding='euc-kr')

In [153]:
total_df.reset_index(drop=True, inplace=True)

In [154]:
total_df[total_df['회사명']=='(주)제이더블유엘']

              회사명  거래소코드     회계년도 감사의견코드
172292  (주)제이더블유엘  58276  2012/12     ZZ
172293  (주)제이더블유엘  58276  2013/12     QU
172294  (주)제이더블유엘  58276  2014/12     QU
172295  (주)제이더블유엘  58276  2015/12     QA
172296  (주)제이더블유엘  58276  2016/12     QU
172297  (주)제이더블유엘  58276  2017/12     QU
172298  (주)제이더블유엘  58276  2018/12     QU

In [155]:
total_df

                      회사명   거래소코드     회계년도 감사의견코드
0              (유)그룹세브코리아   13171  2019/12    NaN
1              (유)그룹세브코리아   13171  2020/12     UQ
2              (유)그룹세브코리아   13171  2021/12     UQ
3              (유)그룹세브코리아   13171  2022/12     UQ
4       (유)디에스브이에어앤씨인터내셔널  104275  2021/12    NaN
...                   ...     ...      ...    ...
294815           힐중공업주식회사   82007  2017/12     QS
294816           힐중공업주식회사   82007  2018/12     QU
294817          （주）신미코스메틱   85105  2017/12    NaN
294818          （주）신미코스메틱   85105  2018/12     UQ
294819          （주）신미코스메틱   85105  2019/12     UQ

[294820 rows x 4 columns]

In [156]:
total_df['감사의견코드'].value_counts()

감사의견코드
UQ    239780
QS     13023
DU      3604
DS      2559
QG      1208
QU      1152
AG       527
QQ        27
QA         4
ZZ         1
DI         1
Name: count, dtype: int64

In [157]:
294820 - 239780

55040

In [158]:
# df1 = pd.read_csv('./타겟나누기/1.csv', encoding='euc-kr')
# df2 = pd.read_csv('./타겟나누기/2.csv', encoding='euc-kr')
# df3 = pd.read_csv('./타겟나누기/3.csv', encoding='euc-kr')
# df4 = pd.read_csv('./타겟나누기/4.csv', encoding='euc-kr')
# df5 = pd.read_csv('./타겟나누기/5.csv', encoding='euc-kr')
# df6 = pd.read_csv('./타겟나누기/6.csv', encoding='euc-kr')
# df7 = pd.read_csv('./타겟나누기/7.csv', encoding='euc-kr')
# df8 = pd.read_csv('./타겟나누기/8.csv', encoding='euc-kr')
# df9 = pd.read_csv('./타겟나누기/9.csv', encoding='euc-kr')
# df10 = pd.read_csv('./타겟나누기/10.csv', encoding='euc-kr')
# df11 = pd.read_csv('./타겟나누기/11.csv', encoding='euc-kr')
# df12 = pd.read_csv('./타겟나누기/12.csv', encoding='euc-kr')
# df13 = pd.read_csv('./타겟나누기/13.csv', encoding='euc-kr')
# df14 = pd.read_csv('./타겟나누기/14.csv', encoding='euc-kr')

In [159]:
# total_df2 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14], axis=0)
# total_df2

In [160]:
df0 = pd.read_csv('./타겟나누기/15.csv', encoding='euc-kr')
df1 = pd.read_csv('./타겟나누기/중소기업_1.csv', encoding='euc-kr')
df2 = pd.read_csv('./타겟나누기/중소기업_2.csv', encoding='euc-kr')
df3 = pd.read_csv('./타겟나누기/중소기업_3.csv', encoding='euc-kr')
df4 = pd.read_csv('./타겟나누기/중소기업_4.csv', encoding='euc-kr')
df5 = pd.read_csv('./타겟나누기/중소기업_5.csv', encoding='euc-kr')
df6 = pd.read_csv('./타겟나누기/중소기업_6.csv', encoding='euc-kr')
df7 = pd.read_csv('./타겟나누기/중소기업_7.csv', encoding='euc-kr')
df8 = pd.read_csv('./타겟나누기/중소기업_8.csv', encoding='euc-kr')
df9 = pd.read_csv('./타겟나누기/중소기업_9.csv', encoding='euc-kr')
df10 = pd.read_csv('./타겟나누기/중소기업_10.csv', encoding='euc-kr')
df11 = pd.read_csv('./타겟나누기/중소기업_11.csv', encoding='euc-kr')
df12 = pd.read_csv('./타겟나누기/중견기업.csv', encoding='euc-kr')

In [161]:
total_df3 = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], axis=0)

In [162]:
total_df3

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
0,(주)KAL호텔네트워크,29255,2012/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
1,(주)KAL호텔네트워크,29255,2013/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
2,(주)KAL호텔네트워크,29255,2014/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
3,(주)KAL호텔네트워크,29255,2015/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
4,(주)KAL호텔네트워크,29255,2016/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
...,...,...,...,...,...,...,...,...,...
40345,힐티코리아주식회사,10534,2018/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
40346,힐티코리아주식회사,10534,2019/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
40347,힐티코리아주식회사,10534,2020/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
40348,힐티코리아주식회사,10534,2021/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,20.0,UQ
40349,힐티코리아주식회사,10534,2022/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ

In [ ]:
total_df3['기업규모코드'].value_counts()

In [163]:
# total_df3.to_csv('./mk_target2.csv', index=False, encoding='euc-kr')

In [171]:
total_df3[total_df3['회사명'].str.contains('spec')]

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 산업코드, 산업명, 설립일, 상장일, 기업규모코드, 감사의견코드]
Index: []

In [2]:
total_df3 = pd.read_csv('./mk_target2.csv', encoding='euc-kr')

In [5]:
total_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294073 entries, 0 to 294072
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   회사명     294073 non-null  object
 1   거래소코드   294073 non-null  int64
 2   회계년도    294073 non-null  object
 3   산업코드    294073 non-null  int64
 4   산업명     294073 non-null  object
 5   설립일     293776 non-null  object
 6   상장일     294061 non-null  object
 7   기업규모코드  291112 non-null  float64
 8   감사의견코드  260068 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 20.2+ MB

In [4]:
total_df3.isna().sum()

회사명           0
거래소코드         0
회계년도          0
산업코드          0
산업명           0
설립일         297
상장일          12
기업규모코드     2961
감사의견코드    34005
dtype: int64

In [7]:
total_df3[total_df3['감사의견코드'].isna()]

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
40,(주)경기용인테크노밸리,80224,2016/12,126801,부동산업,2015/06/05,0,NaN,NaN
47,(주)경우,85104,2017/12,74601,도매 및 상품 중개업,1989/06/20,0,10.0,NaN
89,(주)김해테크노밸리,69054,2013/12,126801,부동산업,2009/09/01,0,20.0,NaN
96,(주)나눔누리,92912,2019/12,147402,사업시설 관리 및 조경 서비스업,2012/03/21,0,10.0,NaN
269,(주)대림제5호천안원성동기업형임대위탁관리부동산투자회사,102627,2021/12,126801,부동산업,2016/12/15,0,20.0,NaN
...,...,...,...,...,...,...,...,...,...
293753,화성미래피에프브이주식회사,78289,2015/12,126801,부동산업,2015/10/20,0,20.0,NaN
293779,화이트코리아산업(주),77409,2015/12,64100,종합 건설업,2003/07/02,0,20.0,NaN
293787,화이트팜주식회사,84617,2017/12,74604,도매 및 상품 중개업,2016/04/01,0,20.0,NaN
293965,휴넷,11392,2015/12,168506,교육 서비스업,1999/09/04,0000/00/00,20.0,NaN
293973,휴먼스테이주식회사,82665,2016/12,126801,부동산업,2015/01/15,0,NaN,NaN

In [9]:
total_df3[total_df3['회사명'].str.contains('퍼스프')]

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
3102,농업회사법인(주)퍼스프,82415,2016/12,31003,식료품 제조업,2005/03/28,0,NaN,NaN
3103,농업회사법인(주)퍼스프,82415,2017/12,31003,식료품 제조업,2005/03/28,0,20.0,QS
3104,농업회사법인(주)퍼스프,82415,2018/12,31003,식료품 제조업,2005/03/28,0,20.0,UQ
3105,농업회사법인(주)퍼스프,82415,2019/12,31003,식료품 제조업,2005/03/28,0,20.0,UQ
3106,농업회사법인(주)퍼스프,82415,2020/12,31003,식료품 제조업,2005/03/28,0,20.0,NaN
3107,농업회사법인(주)퍼스프,82415,2021/12,31003,식료품 제조업,2005/03/28,0,10.0,QS

In [11]:
lits = total_df3[total_df3['회사명'].str.contains('리츠')]
lits

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
2601,SK리츠운용주식회사,103271,2022/12,126800,부동산업,2021/03/26,0,10.0,UQ
5706,엔에이치농협리츠운용주식회사,90979,2019/12,126801,부동산업,2018/07/02,0,10.0,UQ
24555,굿모닝대신리츠주식회사,94949,2019/12,126801,부동산업,2017/03/13,0,20.0,NaN
24556,굿모닝대신리츠주식회사,94949,2020/12,126801,부동산업,2017/03/13,0,20.0,QG
24557,굿모닝대신리츠주식회사,94949,2021/12,126801,부동산업,2017/03/13,0,20.0,UQ
...,...,...,...,...,...,...,...,...,...
285193,주식회사토지지원리츠제1호위탁관리부동산투자회사,75619,2018/12,126800,부동산업,2016/07/01,0,20.0,UQ
285194,주식회사토지지원리츠제1호위탁관리부동산투자회사,75619,2019/12,126800,부동산업,2016/07/01,0,30.0,UQ
285195,주식회사토지지원리츠제1호위탁관리부동산투자회사,75619,2020/12,126800,부동산업,2016/07/01,0,30.0,UQ
285196,주식회사토지지원리츠제1호위탁관리부동산투자회사,75619,2021/12,126800,부동산업,2016/07/01,0,30.0,UQ
285197,주식회사토지지원리츠제1호위탁관리부동산투자회사,75619,2022/12,126800,부동산업,2016/07/01,0,30.0,UQ

In [12]:
len(lits['회사명'].unique())

45

In [2]:
total_df3 = pd.read_csv('./mk_target2.csv', encoding='euc-kr')

In [5]:
total_df3[total_df3['감사의견코드'] == 'UQ'].head(50)

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
0,(주)KAL호텔네트워크,29255,2012/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
1,(주)KAL호텔네트워크,29255,2013/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
2,(주)KAL호텔네트워크,29255,2014/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
3,(주)KAL호텔네트워크,29255,2015/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
4,(주)KAL호텔네트워크,29255,2016/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
5,(주)KAL호텔네트워크,29255,2017/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
6,(주)KAL호텔네트워크,29255,2018/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
7,(주)KAL호텔네트워크,29255,2019/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
8,(주)KAL호텔네트워크,29255,2020/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
9,(주)KAL호텔네트워크,29255,2021/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
10,(주)KAL호텔네트워크,29255,2022/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
11,(주)LG경영개발원,18261,2012/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
12,(주)LG경영개발원,18261,2013/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
13,(주)LG경영개발원,18261,2014/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
14,(주)LG경영개발원,18261,2015/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
15,(주)LG경영개발원,18261,2016/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
16,(주)LG경영개발원,18261,2017/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
17,(주)LG경영개발원,18261,2018/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
18,(주)LG경영개발원,18261,2019/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
19,(주)LG경영개발원,18261,2020/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
20,(주)LG경영개발원,18261,2021/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
21,(주)LG경영개발원,18261,2022/12,137002,연구개발업,1986/04/01,0000/00/00,10.0,UQ
22,(주)NH무역,17587,2012/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
23,(주)NH무역,17587,2013/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
24,(주)NH무역,17587,2014/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
25,(주)NH무역,17587,2015/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
26,(주)NH무역,17587,2016/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
27,(주)NH무역,17587,2017/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
28,(주)NH무역,17587,2018/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
29,(주)NH무역,17587,2019/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
30,(주)NH무역,17587,2020/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
31,(주)NH무역,17587,2021/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
32,(주)NH무역,17587,2022/12,74603,도매 및 상품 중개업,1990/06/15,0000/00/00,10.0,UQ
33,(주)STX종합기술원,60652,2012/12,137001,연구개발업,2010/11/18,0,10.0,UQ
34,(주)TAPEX,10942,2012/12,32202,고무 및 플라스틱제품 제조업,1994/04/15,0000/00/00,20.0,UQ
35,(주)TAPEX,10942,2013/12,32202,고무 및 플라스틱제품 제조업,1994/04/15,0000/00/00,20.0,UQ
36,(주)TAPEX,10942,2014/12,32202,고무 및 플라스틱제품 제조업,1994/04/15,0000/00/00,20.0,UQ
37,(주)TAPEX,10942,2015/12,32202,고무 및 플라스틱제품 제조업,1994/04/15,0000/00/00,30.0,UQ
38,(주)TAPEX,10942,2016/12,32202,고무 및 플라스틱제품 제조업,1994/04/15,0000/00/00,10.0,UQ
39,(주)갤럭시아디스플레이,56510,2012/12,32602,"전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",2005/12/15,0,10.0,UQ
41,(주)경기용인테크노밸리,80224,2017/12,126801,부동산업,2015/06/05,0,10.0,UQ
42,(주)경기용인테크노밸리,80224,2018/12,126801,부동산업,2015/06/05,0,10.0,UQ
43,(주)경기용인테크노밸리,80224,2019/12,126801,부동산업,2015/06/05,0,10.0,UQ
44,(주)경기용인테크노밸리,80224,2020/12,126801,부동산업,2015/06/05,0,10.0,UQ
45,(주)경기용인테크노밸리,80224,2021/12,126801,부동산업,2015/06/05,0,10.0,UQ
46,(주)경기용인테크노밸리,80224,2022/12,126801,부동산업,2015/06/05,0,10.0,UQ
48,(주)경우,85104,2018/12,74601,도매 및 상품 중개업,1989/06/20,0,10.0,UQ
49,(주)경우,85104,2019/12,74601,도매 및 상품 중개업,1989/06/20,0,10.0,UQ
50,(주)공영홈쇼핑,75931,2016/12,74709,소매업; 자동차 제외,2015/03/05,0,10.0,UQ
51,(주)공영홈쇼핑,75931,2017/12,74709,소매업; 자동차 제외,2015/03/05,0,10.0,UQ

In [15]:
import this