# mongodb
1. 라이브러리 설치
2. 라이브러리 로드
3. CRUD

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp311-cp311-win_amd64.whl (382 kB)
     ------------------------------------- 382.5/382.5 kB 11.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ------------------------------------- 283.7/283.7 kB 17.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient(
    host = "localhost",
    port  = 27017
)

In [13]:
# mongodb에 있는 데이터베이스의 목록 출력
client.list_database_names()

['admin', 'config', 'local', 'ubion']

In [5]:
# 데이터베이스를 선택
db = client["ubion"]

In [7]:
# collection 접근 (collection 은 sql 에서 table 과 같은 의미)
collection = db["test"]

In [8]:
# CRUD -> C
# create -> insert()
# insert_one() / insert_many()
data = {
    "id" : "test",
    "pass" : "1234"
}
collection.insert_one(data)

In [9]:
collection.find_one()

{'_id': ObjectId('643f8ae8c1c0c484ec666d70'), 'id': 'test', 'pass': '1234'}

In [11]:
data = [
    {
        "name" : "test1",
        "phone" : "01011112222",
        "gender" : "male",
    },
    {
        "loc" : " seoul"
    }
]
collection.insert_many(data)

In [12]:
list(collection.find())

[{'_id': ObjectId('643f8ae8c1c0c484ec666d70'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f8cd5c1c0c484ec666d71'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f8cd5c1c0c484ec666d72'), 'loc': ' seoul'}]

1. sql 에서 name 이 test1 인 경우의 데이터를 출력
    - select * from test where name = "test1"

In [16]:
list(collection.find({"name" : "test1"}))

[{'_id': ObjectId('643f8cd5c1c0c484ec666d71'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'}]

1. sql 에서 해당하는 컬럼의 데이터만 출력하려면
    - select name from test

In [17]:
list(collection.find({}, {"name" : 1}))

[{'_id': ObjectId('643f8ae8c1c0c484ec666d70')},
 {'_id': ObjectId('643f8cd5c1c0c484ec666d71'), 'name': 'test1'},
 {'_id': ObjectId('643f8cd5c1c0c484ec666d72')}]

1. 데이터의 수정
    - update test set pass = "0000" where id = "test"
    - test 테이블의 id 가 test 인 데이터에서 pass 의 값을 0000 으로 수정

In [18]:
collection.update_one(
    {
        "id" : "test"
    },
    {
        "$set" : {
            "pass" : "0000"
        }
    }
)

In [19]:
collection.find_one()

{'_id': ObjectId('643f8ae8c1c0c484ec666d70'), 'id': 'test', 'pass': '0000'}

1. sql 에서 데이터 삭제
    - delete from test where id = "test
    - test 테이블에서 id 가 "test" 인 데이터를 삭제

In [20]:
collection.delete_one(
    {
        "id" : "test"
    }
)

In [22]:
list(collection.find())

[{'_id': ObjectId('643f8cd5c1c0c484ec666d71'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f8cd5c1c0c484ec666d72'), 'loc': ' seoul'}]

In [23]:
list(client["ubion"]["test"].find())

[{'_id': ObjectId('643f8cd5c1c0c484ec666d71'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f8cd5c1c0c484ec666d72'), 'loc': ' seoul'}]

### mongodb select 조건식

- find(옵션1, 옵션2, 옵션3, ..., 컬럼 선택)

    1. db.collection.find() -> select * from TABLE
    2. db.collection.find({},{"id" : 1, "pass" : 1}) -> select id, pass from TABLE
    3. db.collection.find({}, {"id" : 1, "pass" : 1, "_id" : 0}) -> 2번 과정과 같은 sql 문이지만 _id 를 보여주지 않겠다
    4. db.collection.find({"id" : "test"})  -> select * from TABLE where id = "test"
    5. db.collection.find({"id" : "test", "pass" : "1234"}) -> select * from TABLE where id = "test" and pass = "1234"
    6. db.collection.find({"id" : "test"}, {"pass" : "1234"}) -> select * from TABLE where id = "test" or pass = "1234"
    7. db.collection.find({"age" : {"$gt" : 25}}) -> select * from TABLE where age > 25
    8. db.collection.find({"age" : {"$lt" : 25}}) -> select * from TABLE where age < 25
    9. db.collection.find({"id" : {/dc/}}) -> select * from TABLE where id like "%bc"
    10. db.collection.find().sort({"id" : 1}) -> select * from TABLE order by id ASC
    11. db.collection.find().sort({"id" : -1}) -> select * from TABLE order by id DESC
    12. db.collection.find().limit(10) -> select * from TABLE limit 10